@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title></title>
<link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<style>
body {
	margin:0;
	padding:0;
	background:#eee;
	font-family:helvetica, arial, sans-serif;
	font-size:10pt;
	color:#888;}
	
#header-container {
	padding:15px 0;
	background:#fff;}
	
#bg-teeth {
	background:url('../../Public/images/error/jaggies-Trans.gif') repeat-x;
	height:7px}
	
#content, #header {
	width:80%;
	margin:auto}
	
#content {
	margin-top:25px;
	width:960px;
	}
	
h1 { 
	font-family:'interstateplusregular', sans-serif;
	font-size:34pt;
	font-weight:normal;
	margin:0 0 5px 0;
	padding-top:10px;
	text-transform:uppercase;
	color:#000}

h2 {
	font-family:'interstateplusregular', sans-serif;
	font-size:23pt;
	font-weight:normal;
	margin:0 0 25px 0;
	line-height:1.25em;
	color:#f413b8}

@@font-face {
    font-family: 'interstateplusregular';
    src: url('../../Public/fonts/interstateplus_regular_cond-webfont.eot');
    src: url('../../Public/fonts/interstateplus_regular_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../Public/fonts/interstateplus_regular_cond-webfont.woff') format('woff'),
         url('../../Public/fonts/interstateplus_regular_cond-webfont.ttf') format('truetype'),
         url('../../Public/fonts/interstateplus_regular_cond-webfont.svg#interstateplusregular') format('svg');
    font-weight: normal;
    font-style: normal;}
</style>
</head><body>

           <div id="header-container">
               <div id="header" align="center">
                   <a href="http://epilogger.com"><img src="../../Public/images/error/logoSmall.png"/></a>
               </div>
           </div>

           <div id="bg-teeth"></div>

           <div id="outer-container">
               <div id="content">
                   <img src="../../Public/images/error/scoobygang.png" style="float:left; padding-right:25px" />

                   <h1>A G-GG-GHOST!</h1>
                   <h2>Something very strange<br/> has made our system<br/> go haywire.</h2>
                   <h2>Our team of experts<br/> is on the way!</h2>
		
                   <p>(Please check back in a few mintues.)</p>
               </div>
           </div>
       </body>
</html>
