@model Epilogger.Web.Models.DashboardAccountViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Account";
}


<div id="dashboard-nav">
    @Html.Partial("Menu")
</div>

<div id="dashboard-content">
<h2>Account Status</h2>



<div class="account-overview clearfix">
<table>
    <tr>
        <td class="label">EMAIL ADDRESS:</td>
        <td>@Model.EmailAddress</td>
    </tr>
    <tr>
        <td class="label">MEMBER SINCE:</td>
        <td>@Html.DisplayFor(e => e.CreatedDate)</td>
    </tr>
</table>
<br /><br /><br />
@Html.ActionLink("+ Edit My Profile", "index", "account", null, new { @class = "blue-action-button" })

</div>

<em>Why should I upgrade/renew my account?</em>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet eros rutrum tellus consequat auctor. Integer volutpat, metus et ultrices tincidunt, libero nibh rutrum nibh, in elementum turpis massa a mi. Aliquam faucibus egestas quam, a aliquam ante iaculis a. Cras id venenatis magna. Sed sem nulla, ultrices ac feugiat quis, feugiat eget nisl. Nullam mollis cursus neque, nec laoreet nulla rhoncus in. Proin fringilla hendrerit massa, quis lobortis ligula sollicitudin ac.</p>
</div>
