@model Epilogger.Web.Models.DashboardAccountViewModel

@{
    ViewBag.Title = "Account";
}


<div id="dashboard-nav">
    @Html.Partial("Menu")
</div>

<div id="dashboard-content">
<h2>Account Status</h2>
</div>
