@model Epilogger.Web.Models.DashboardEventsViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Events";
}

<div id="dashboard-nav">
    @Html.Partial("Menu")
</div>

<div id="dashboard-content">
    @Html.Partial("_EventListItem", Model.Events)
    <br class="clear" />
    <div class="clear">
</div>
@MvcHtmlString.Create(Html.Pager(Model.PageSize, Model.CurrentPageIndex, Model.TotalRecords, new { controller = "dashboard", action = "allevents" }))
</div>