@model Epilogger.Web.Models.DashboardIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div id="dashboard-nav" class="grid_3 alpha">
    @Html.Partial("Menu")
</div>

<div class="grid_8 omega">

</div>

