@model Epilogger.Web.Core.Stats.WidgetTotal

<div id="epiloggerCounts">
    @Model.PhotoCount <img src="/Public/images/widget/count-pics.png" alt="" />&nbsp;&nbsp;&nbsp;@Model.TweetCount <img src="/Public/images/widget/count-tweets.png" alt="" />
</div>