@model Epilogger.Web.Core.Stats.WidgetTotal

<span id="epiloggerCounts" class="btext">
    <span><img src="/Public/images/widget/icon-totals.png" id="camera" onload="getPixels(this)" /></span> @Model.PhotoCount
    <span><img src="/Public/images/widget/icon-totals.png" id="bird" onload="getPixels(this)" /></span> @Model.TweetCount
</span>