
<html>

    <head>
        <title>Redirecting</title>
    
        <script type="text/javascript">
            function refreshAndClose() {
                window.opener.location.reload(true);
                window.close();
            }
        </script>

    </head>

    <body onload="refreshAndClose();">
    
        <h2>Redirecting you back to Epilogger...</h2>

    </body>


</html>





