
@model Epilogger.Web.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Account Activation Required";
}


<h1>The activation email has been sent!</h1>
<br />
<p>@Html.ActionLink("Home", "Index", "Home")</p>

