
@model Epilogger.Web.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Forgot Your Password?";
}

@Html.ValidationSummary("Please correct the following issues")
<h1>Forgot your password?</h1>
<p>Give us your email address and we will give you instructions on how to reset your password, deal?</p>
<div class="grid_3 alpha">
@using (Html.BeginForm("forgotpassword", "account", FormMethod.Post)) {
    
    <fieldset class="forgotpassword">
        <p>@Html.LabelFor(model => model.EmailAddress) @Html.TextBoxFor(model => model.EmailAddress)</p>
        <p><input type="submit" class="blue-action-button" value="send instructions" /></p>
    </fieldset>
}
</div>