
@model Epilogger.Web.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}

@Html.ValidationSummary("Please correct the following issues")
<p>Looks like you forgot your password eh?  No problem.</p>
<p>Give us your email address and we will give you instructions on how to reset your password, deal?</p>
<div class="grid_3 alpha">
@using (Html.BeginForm("forgotpassword", "account", FormMethod.Post)) {
    
    <fieldset>
        <p>@Html.LabelFor(model => model.EmailAddress) @Html.TextBoxFor(model => model.EmailAddress)</p>
        <p><input type="submit" class="submit" value="send instructions" /></p>
    </fieldset>
}
</div>