@model Epilogger.Web.Models.AccountModel

@{
    ViewBag.Title = "Index";
}

<h2>Your Account</h2>
@using (Html.BeginForm("BuildAuthenticationRequest", "Twitter", new { area = "Authentication" }, FormMethod.Post, null)) {
    <input type="submit" value="link your account with twitter" name="twitter" />
}