@model Epilogger.Web.Models.AccountModel

@{
    ViewBag.Title = "Account";
}

@if (string.IsNullOrEmpty(Model.TwitterUsername)) {
    using (Html.BeginForm("BuildAuthenticationRequest", "Twitter", new { area = "Authentication" }, FormMethod.Post, null)) {
        <input type="submit" value="link your account with twitter" name="twitter" />
    }
} else {
    @:<p>You are connected to twitter as: @Model.TwitterUsername</p>
}

@if (string.IsNullOrEmpty(Model.FacebookUsername)) {
    using (Html.BeginForm("BuildAuthenticationRequest", "Facebook", new { area = "Authentication" }, FormMethod.Post, null)) {
        <input type="submit" value="link your account with facebook" name="facebook" />
    }
} else {
    @:<p>You are connected to facebook as: @Model.FacebookUsername</p>
}