<?xml version="1.0"?>
<configuration>

    <connectionStrings>
        <add name="EpiloggerConnectionString" connectionString="Data Source=Epilogger.com;Initial Catalog=EpiloggerV1;Persist Security Info=True;User ID=sa;Password=xea,87,21r" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
