
body { margin:0 !important; padding:0 !important; overflow: hidden; }
fieldset { border:0; }
fieldset.popForm .innerwrap 
{
    width:9999px;
} 


input[type=text]:focus, textarea:focus { border: 2px solid #a1ceea;}

input[type="text"], textarea
{
    background: #eee; 
    display: inline-block;
    padding: 3px 5px;
    height: 30px;
    width: 67%;
    font: 14px Helvetica,Arial,Sans-Serif;
    color: #666;
    /*border: 2px solid #BBB;*/
    border: 0;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    box-shadow: inset 0px 1px 1px #CCC;
    -moz-box-shadow:inset  0px 1px 1px #CCC;
    -webkit-box-shadow: inset 0px 1px 1px #CCC; 
}
                                              
fieldset.popForm label {
    display: inline-block;
    width: 23%;
    text-align: right; 
    padding-right: 10px; 
    font-size: 14px;
    color:#868686;
}
.endDateCheckLabel {
    font: 10pt Helvetica,Arial,Sans-Serif !important;
    color: #999 !important;
    display: inline !important;
}

fieldset.popForm select   
{
    /*
    -webkit-appearance:none;
    -webkit-border-radius:0;
    */
    
    vertical-align: top;
    background: #eee;
    height: 30px !important;
    width: 67%;
    font: 14px Helvetica,Arial,Sans-Serif; 
    color: #666;    
    
    line-height:normal;
    /*padding: 3px 0px;*/

    border: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #fff;
    
   
}

/*
.dropdown_image select{
    -webkit-appearance:none;
    -webkit-border-radius:0;
    background:transparent;
    padding:5px;
    font-size:1.2em;
    height:30px;
    width:100%;
    overflow:hidden;
}
*/

fieldset.popForm .times 
{
    width: 13%;
    margin-right: 4px;
}

fieldset.popForm .AMPM {
    width: 9%; 
}

fieldset.popForm .timeZoneSelect {
    width: 90px;
    text-transform: lowercase;
}

/*
fieldset.popForm .blue_arrow
{
    background-image:url('../../Public/images/CreateEvent/blueArrowDown.png');
    background-repeat:no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    margin-right:4px;
}
*/

.inner { width:400px; height:200px; border:2px solid salmon; float:left; }

fieldset.popForm .under_control_notice { margin-left:25%; margin-top:-27px; margin-bottom:20px; font:8pt Helvetica,Arial,Sans-Serif; color:#878787;}
fieldset.popForm .hint { margin-left: 25%; margin-top:-12px;margin-bottom:29px;  font:8pt Helvetica,Arial,Sans-Serif; color:#999;}

.invisible { display: none;}

fieldset.popForm #startDate{
    float:left;
}
fieldset.popForm input[type="text"] .timepick{width:7em;}
.form_process{ margin-bottom: 25px; }
.form_process2{ margin-bottom: 25px; }
.form_process3{ margin-bottom: 10px; }
.dashed{border-top:1px dotted #BBB; margin-top:3px; margin-bottom:15px;}

.dropdown_div
{
    width:100%;
    height:30px;
    overflow:hidden;
    background: no-repeat #fff;
    background-image:url('../../Public/images/CreateEvent/calendarIcon.png');
    background-position:top right;
    border:0;
}
.dropdown_div select
{
    -webkit-appearance:none;
    -webkit-border-radius:0;
    background:transparent;
    padding:3px;
    font-size:1.2em;
    height:30px;
    width:120%;
    overflow:hidden;
    border:0;
}

/*
.dropdown_image{
    background: no-repeat #fff;
}
*/




fieldset.popForm input[type="text"].blue_calendar, textarea.blue_calendar 
{
    background: #eee url('../../Public/images/CreateEvent/calendarIcon.png') no-repeat 95% 50%; 
    
    
    /*background-image: url('../../Public/images/CreateEvent/calendarIcon.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;*/
    
    padding: 0 5px;
    width: 20%;
    margin-right:4px;
}
   
input[type="text"] .bold {
    font-weight:bold
}

/*twitter*/
#twitter_wrapper{
    margin-top:-15px;
    font-size:13px; 
    font-family: Helvetica,Arial,Sans-Serif;
    color: #777;
    height:500px;
} 
#left_side{
    width: 230px;
    height: 394px;
    float:left;
}       
#left_side p {
    font-weight: bold;
    margin-bottom: 10px !important;
}                    
#right_side{
    width:270px;
    height:75%;
    float:right;
    
} 
.searchText{
    color:#5498dd;
    width: 100% !important;
    font-weight: bold !important;
}
#tweet_footer
{
    /*height:9%;
    float:none;*/
    clear:both;
}     


.submitEvent{
    color:#FFF;
    background:url('../css/images/ui_create_event_btn.png') no-repeat;
    font:bold 16px 'InterstatePlusRegular',Arial,Sans-Serif;
    text-align:left;
    text-transform:uppercase;
    height:32px;
    width:212px;
    border:0;
    cursor:pointer;
    float:right;
    padding-left:12px;
    padding-right:2px;
    }
     
.warning_small{
    background-color:#fcfdd6;
    padding: 10px 0;
    width:268px;
    border:1px solid #B9BD6B;
    margin-bottom:10px;
    text-align: center;
}
    .warning{
        background-color:#fcfdd6;
        padding: 10px;
        /*padding:1px 6px 15px 6px;
        float:none;
        clear:both;
        margin-right:15px;
        width:240px;
        */
        border:1px solid #f3efc8
    }
     .warning h3{
        color:#b3a84a;
        text-transform:none;
        margin: 0;
    }
     .warning span{
    color:#666;
    font: 13px Arial,Sans-Serif;
    }
.stn_button{
    color:#FFF;
    font:bold 13px Arial,Sans-Serif;
    text-align:left;
    text-transform:lowercase;
    height:32px;
    border:0;
    cursor:pointer;
    padding-left:12px;
    padding-right:2%;
   
    }  
    .blue_button{
    background:url('../images/CreateEvent/button_blue.png') no-repeat;  
    width:104px;   
     margin-top:10px; 
    }
     .disabled_blue_button{
    background:url('../images/CreateEvent/disabled_button_blue.png') no-repeat;     
    width:130px; 
    margin-top:10px; 
    }
    #preview_tweet_box
    {
        height: 330px;
        background-color:#EDEDED;
        overflow:auto;
    }
#left{
    float:left;
}
#right{
    float:right;
    text-align:right;
}
.validation-summary-errors
{
    margin-top:-20px;
}
.validation-summary-errors ul {
    margin-top:-1px;
}
.add_another
{
    margin-top:15px;
}
.preview_stretch_btn
{
    width:245px;
    text-align: center;
    /*
    padding-left:6px;
    margin-top:0;
    padding-left:40px;
*/
    background-image:url('../../Public/images/CreateEvent/buttonPreview.png');
    background-repeat:no-repeat;
}
       /*Final Event Page*/  
#final_wrapper
{
    font:13px Helvetica,Arial,Sans-Serif;color:#111;
}  
#event_created_wrapper #left_side
{
    width:70%;
    height:75%;
    float:left;
}   
#event_created_wrapper #left_side
{
    width:30%;
    height:75%;
    float:right;
} 
#left_side table
{
    font:13px Helvetica,Arial,Sans-Serif;color:#444;    
}

#left_side td
{
    padding:5px 1px 5px 1px;
} 
/*.grey_box
{
    color:#434343;  
    background-color:#f3f3f3; 
    font-size:1.2em;
    padding: 8px 12px 8px 12px;
    
    
    margin-top:-11px;
    width: 201px;
    margin-left: 40px;
    
}*/

.improveEventPanel {
    background-color:#f3f1f1;
    width: 185px;
    padding: 5px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 64px;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 15px;
}



#final_wrapper ul
{
    list-style:none;
    padding-left: 0px;
    color: #7f7f7f;
    text-align: left;
    
    /*margin: -5px 5px 0px 40px;
    border-left: 9px solid #f3f3f3;
    border-right:9px solid #f3f3f3;*/
    
}    
#final_wrapper li
{
    padding: 8px;
    margin-bottom:1px;
    border-bottom: 1px solid #fff;
}

.rightSummaryTitle {
    text-align: left;
    color: #6a6969;
    margin-left: 8px;
}



h3#title  {
    font-family: helvetica, arial;
    color: #585657;
}
/*live mode*/
/*fieldset#livemode input[type="text"], textarea
{
    background:#eee; border:0;outline:0;
    box-shadow: inset 0 0 10px #888; 
    -moz-box-shadow: inset 0 0 10px #888;
    -webkit-box-shadow: inset 0 0 10px#888; 
    display:inline-block;
    padding:3px 5px;
    height:30px; width:25%; font-size:1.2em; font:14px Helvetica,Arial,Sans-Serif; color:#666;
}


fieldset#livemode label {display:inline-block;width:40%; text-align:right; padding-right:10px; font:14px Helvetica,Arial,Sans-Serif;color:#878787; }

.upload_label {
    display:inline-block;width:40%; text-align:right; padding-right:10px; font:14px Helvetica,Arial,Sans-Serif;color:#878787; float:left;
}

fieldset#livemode h2 label {
    display:inline-block;width:40%; text-align:right; padding-right:10px; font:14px Helvetica,Arial,Sans-Serif;color:#878787; text-transform:none;
}

fieldset#livemode .submitEvent {
    padding-left:29px;
}
.uploader-span {
    display:inline-block;width:40%; text-align:right; padding-right:10px;padding-top:7px; font:14px Helvetica,Arial,Sans-Serif;color:#878787; float:left;
}

#live_mode_h2{
    margin-top: -25px;
    padding-left:10px;
    margin-bottom:15px;
}

#twitter_wrapper{
    width:100%;
    margin-left:-3px;
    font-size:13px; 
    font:Helvetica,Arial,Sans-Serif; 
    color:#777
} */
.auto_complete_detail {
    padding: 5px 0 6px 0;
}
.auto_complete_detail:hover {
    color: #3087b4;
}
.auto_complete_name 
{
   padding-bottom: 4px;
} 

.auto_complete_date {
     font-weight: normal;
    color: black;
    float: left;
    font-size: 0.9em;
    padding: 0 20px 0 0;
}
.auto_complete_venue {
     font-weight: normal;
        color: black;
        font-size: 0.9em;
}
.auto_complete_venue span{
    padding-left: 6px;
}
.auto_complete_date span {
     padding-left: 6px;
}
#auto_complete_header {
    margin-left: -30px;
    padding: 6px 0;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    color: #555;
}

.field-validation-error {
    color: red;
    padding-left: 23%;
    margin-left: 13px;
}
#CategoryId {
    margin-bottom: 0px !important;
}
.padTheTop {
    padding-top: 2px;
}

#twitter_table td {
    padding-bottom: 5px;
}


.twitterOperatorSectionOff {
    display: none;
}
.twitterOperatorSectionOn {
    display: inline-block;
}

.uiPopUp {
    padding: 5px !important;  
    width: 472px !important;
    position: relative;
    left: 0px !important;
    top: -400px !important;
    z-index: 1000;
    height: 214px !important;
    overflow: scroll !important;
    box-shadow: 3px 3px 4px #ccc;
    -moz-box-shadow: 3px 3px 4px #ccc;
    -webkit-box-shadow: 3px 3px 4px #ccc;
    border: 1px solid #ccc;
}

.uiPopUpHidden {
    display: none;
}
.uiPopUp table {
    border-spacing: 0px !important;
}

.uiPopUp table td 
{
    border: 1px solid #ccc;
    border-collapse: collapse !important;
    padding: 3px !important;
}