* {}

body {
	color:#707070;
	background:#252525 url(../images/body-bg.jpg) repeat;
	font:normal 11pt times, 'Georgia', 'Times New Roman', serif}

a {color:#2d8ac5;text-decoration:none}
a:hover {text-decoration:underline;}

p a {text-decoration:underline}
a.edit_icon {background:url(../images/icons/pencil.png) no-repeat 0px 2px;padding-left:15px;}

.blue-action-button {

     border:solid 1px #3789bc;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding: 4px 12px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;

	  font-size: 11px;
	  text-decoration: none;
	  cursor: pointer;
	  margin-bottom: 20px;

    font-size:15px;

    background:#408ebf;
    color:#fff;
    text-transform:uppercase;
    font-family:'InterstatePlusRegular';}


.datetime-container{}

.datepicker,
.timedropdown  {margin:0 !important;display:inline !important;width: 5em !important;border-right:0px !important;}
.datepicker {width:5em !important;}

.item-data .ui-datepicker-trigger {margin-top:-3px;}
.hidden {display:none;}
/* ------------------------------ CONTAINERS */

#outer-container {position:relative;z-index:0;}

#content-container {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;     
	background:#fff;
	padding:15px;
	position:relative;}
	
	#header {padding:10px 0px 30px 0px;position:relative;}
	img#logo {float:left;}

/* ------------------------------ MENUS */

/* --- main menu */	
ul#navigation {float:right;margin-top:10px;}
	
ul#navigation li {
	display:inline-block;
	padding:9px 0 5px 0}

ul#navigation li a {
	color:#989898;
	padding: 9px 10px 7px 10px;
	text-transform:uppercase;
	margin:0 5px;
	font:normal 13pt 'InterstatePlusRegular', impact, sans-serif;}

ul#navigation li a:hover,
ul#navigation li a.current {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;    
	background:#162734;
	color:#fff}
	
/* -- Sub Nav */
ul#events-subnav{position:absolute;top:55px;right:113px;display:none;}
ul.subnav {
    margin:0;
    background:#152632;padding:5px 0px 5px 5px;
    display:inline-block;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;   
}
ul.subnav li {list-style:none;float:left;padding:0;margin:0;}
ul.subnav li a {color:#989898;
	padding: 0px 10px 0px 10px;
	text-transform:uppercase;
	margin:0 5px;
	font:normal 11pt 'InterstatePlusRegular', impact, sans-serif;}

ul.subnav li a:hover,
ul.subnav li a.current {
	color:#fff}
	
/* ------------------------------ CONTENT */

h1, h2, h4 {
	color:#000;
	text-transform:uppercase;
	font:normal 26pt 'InterstatePlusRegular', arial, sans-serif;}
	
h2 {
	color:#ee4490;
	font-size:15pt;
	margin-bottom:10px}

h4 {
	color:#333;
	font-size:10pt;
	position:relative;
	top:-5px}

.small-label, small {
	text-transform:uppercase;
	color:#404040;
	font-size:8pt}

small.tinylabel {
	color:#c0c0c0;
	margin-bottom:10px;
	display:block}

p {margin-bottom:15px}
div#logo img {margin:30px 0}
ul.plain-list li {list-style:none;margin-bottom:15px}

span.number {
	font-size:30pt;
	position:relative;
	top:4px;margin-right:10px;}
	

/* --- single event page */
.image-grid img { padding:2px 0}
.image-grid#photosvideos img {margin:8px}


.image-grid .withcomment {
	text-align:right;
	height:154px;
	width:180px;
	overflow:hidden;
	float:left;}

.image-grid .commentbubble {
	background: url('../images/icons/bubble.png') no-repeat;
	opacity: 0.7;
	padding: 3px 5px 5px 5px;
	font-family:InterstatePlusRegular;
	color:#3399ff;
	position: relative;
	top:-155px;
	right: 6px;
	z-index: 10}

.image-grid .commentbubble:hover {opacity:1;}





/*Browse Events */
.BrowseWhenMenu { list-style-type: none; }
.BrowseWhenMenu li { list-style:none; float:left; margin: 0 3px; font-size:11px; }
.BrowseWhenMenu li a { color: #343434; padding: 5px; }
.BrowseWhenMenu li a:hover { color: #fff; background-color: #fc5daf; border-radius: 3px; }
.BrowseWhenMenu li a.active { color: #fff; background-color: #fc5daf; border-radius: 3px; }

.BEventListContainer { border-top: 1px dotted #ccc; margin-top: 8px; }


#HottestSlides { width: 610px; overflow: hidden; margin-bottom: 20px; }
/*.HottestEventBig { display: none; width: 620px; margin-left: 600px; overflow:hidden; float: left; }*/
.HottestEventBig { display: none;  }

.hottest-photogridTop { background-color: #f5f5f5; height: 73px; padding: 10px 10px 0 10px;  }
.hottest-photogridBottom { height:73px; background-color: #f5f5f5; height: 73px; padding: 0 10px 10px 10px;  }
.hottest-Title { margin: 16px 0 0 5px; }
.hottestimage { height:73px; width:112px; overflow:hidden; float:left; margin-right: 6px; }

.HottestList { list-style-type: none; }
.HottestList li { list-style:none; float:left; padding:0; margin: 0 20px 10px 0;}
.HottestList li a { text-transform: uppercase; color: #acacac; background-image: url(../images/icons/BrowseBullet.png); background-position:0 -15px; background-repeat: no-repeat; padding-left: 20px; }
.HottestList li a:hover { color: #000; background-position:0 2px; }
.HottestList li.active { color: #000; background-position:0 2px; }

.browseEventList { list-style-type: none; }
.browseEventList li { list-style:none; margin: 0; padding: 0; color: #2d8ac5;  }
.browseEventList li div { padding: 2px 5px 2px 0; margin-right: 5px; border-right: 1px solid #e1e1e1; display: inline; color: #9e9c9c; }
.browseEventList a:hover { text-decoration: underline; }

.browseCategoryList { list-style-type: none; }
.browseCategoryList li { list-style:none; float:left; width: 150px; height: 30px; padding: 6px 0 6px 40px; margin: 10px 5px 10px 0; color: #2d8ac5; font-weight: bold; background: url(../images/icons/Crown.png) no-repeat; overflow: hidden; }
.browseCategoryList li a:hover { text-decoration: underline; }


#event-intro {font-size:12px;}
#event-details {font-size:12px;padding:10px;border-top:dotted 1px #d9d9d9;border-bottom:dotted 1px #d9d9d9;}	
#event-details ul { float:left;list-style:none;min-width:150px;margin-right:25px; }

#event-details ul.hashtags { width:200px;}
#event-details ul.hashtags li label { width:70px; }

#event-details ul li { clear:both; }
#event-details ul li label { float:left;margin-right:5px;text-transform:uppercase;font-size:11px;width:40px; }
#event-details ul li .value {float:left; }

.event-bottom {font-size:13px;}
.event-checkins img {float:left;margin:0px 4px 4px 0px;}

/*------------------------------- ALL PHOTOS */

.topPhotosBar { background-color: #f2f2f2; padding: 9px; display: none; }

.topPhoto { float: left; overflow: hidden; height: 302px; }
.topPhotoComments { overflow: auto; margin-left: 430px; height: 302px; width: 491px; }

.topPhotosList { list-style-type: none; margin-top: 10px; }
.topPhotosList li { list-style:none; float:left; padding:0; margin: 0 20px 10px 0;}
.topPhotosList li a { text-transform: uppercase; color: #acacac; background-image: url(../images/icons/BrowseBullet.png); background-position:0 -15px; background-repeat: no-repeat; padding-left: 20px; }
.topPhotosList li a:hover { color: #000; background-position:0 2px; }
.topPhotosList li a.active { color: #000; background-position:0 2px; }

div#photos-filterbar {padding:15px 0;border-bottom:1px dotted #000;}
ul#connected-networks {list-style:none;}


/* ------------------------------ Universal TAB style */
.item-card {margin-bottom:10px;}
.item-card h4 {background:#fe60b1;color:#fff;float:left;padding:7px 10px 5px 10px; font-size: 14px !important;
                -webkit-border-top-left-radius: 3px;
                -webkit-border-top-right-radius: 3px;
                -moz-border-radius-topleft: 3px;
                -moz-border-radius-topright: 3px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
}
.item-data {background:#dcdcdc;padding:10px;border-top:solid 5px #fe60b1;margin:-5px 0px 10px 0px;}
.item-data .item-content { width:400px; }
.item-data h1 {border-bottom:2px solid #fff;padding-bottom:10px;margin-bottom:10px;}


/* ------------------------------ CREATE EVENT */
/*#createevent-info h4,
#createevent-time h4 {font-size:16px !important;}*/

.end-time {margin-left:110px;clear:both;}
.end-time input#end-time {float:left;margin-bottom:10px !important;}
.end-time label {float:right;width:auto !important;padding:2px 0px !important;font-weight:normal;font-style:italic;}

/* form overrides */

.item-data label {float:left;font-size:11px;width:80px;text-align:right;text-transform:uppercase;padding:8px 10px 0px 0px;}
.item-data label.wide {width:100px;}
.item-data label.wide {width:100px;}
.item-data label.wider {width:100px;}
.item-data input,
.item-data textarea {margin-bottom:15px !important;}
.item-data input.wide,
.item-data textarea.wide,
.item-data select.wide {float:left;width:510px !important;max-width:550px !important;}
.item-data input.med {width:200px;}
.item-data input.small {width:100px;}
.item-data p {display:block;clear:both;}

.item-data select {padding:6px 4px;}

#event-toolbar {position:absolute;left:-33px;top:20px;width:33px;height:269px;xbackground:url(../images/icons/event-toolbar-ov.png) no-repeat;}
#event-toolbar a {background-image:url(../images/icons/event-toolbar.png);height:25px;width:33px;text-indent:-9999px;display:block;margin-bottom:10px;}
#event-toolbar a.current,
#event-toolbar a:hover {background-image:url(../images/icons/event-toolbar-ov.png);}

#event-toolbar a.overview {}
#event-toolbar a.allphotos {background-position:0 -37px;}
#event-toolbar a.alltweets {background-position:0 -72px;}
#event-toolbar a.allblogposts {background-position:0 -108px;}
#event-toolbar a.alllinks {background-position:0 -144px;}
#event-toolbar a.allcheckins {background-position:0 -181px;}
#event-toolbar a.edit {background-position:0 -216px;}
#event-toolbar a.allstats {background-position:0 -244px;}

fieldset.login label {padding:8px;width:70px;text-transform:uppercase;font-size:11px;}
fieldset.login label,
fieldset.login input[type="text"],
fieldset.login input[type="password"] {float:left;}

fieldset.login input[type="text"],
fieldset.login input[type="password"] {width:340px;}

fieldset.login p.rememberme,
fieldset.login p.submit {padding-left:82px;}
fieldset.login label.left {width:auto !important;padding:2px 0;}

/*CREATE ACCOUNT*/

fieldset.create label {padding:8px;width:100px;margin-top: 8px;text-transform:uppercase;font-size:11px;}
fieldset.create label,
fieldset.create select,
fieldset.create input[type="text"],
fieldset.create input[type="password"] {float:left;}

fieldset.create input[type="text"],
fieldset.create select,
fieldset.create input[type="password"] {width:300px; font-size: 26px;}

fieldset.create select { width:310px; font-size: 26px; }

fieldset.create p.rememberme,
fieldset.create p.submit {padding-left:82px;}
fieldset.create label.left {width:auto !important;padding:2px 0;}

.createArrow { background: url(../images/icons/CreateAccountArrow.png) no-repeat; height: 350px; background-position: 0 65px; }
.createAccountButton { position:relative; top: 155px; left: 80px; height: 40px; }


/* ------------------------------ DASHBOARD */
#dashboard-nav {float:left;width:268px;margin-right:17px;}

ul#left-nav {margin-bottom:30px;}
ul#left-nav li {list-style:none;}
ul#left-nav li a {font:normal 18px 'InterstatePlusRegular', arial, sans-serif;text-transform:uppercase;font-weight:bold;padding:10px;display:block;border-bottom:solid 1p #fff;}
ul#left-nav li a:hover,
ul#left-nav li a.current {background:#f6f6f6;border-bottom:solid 1px #bdbdbd;}

#dashboard-content {float:left;width:641px;}
.dashboard-activity-entry {float:left;height:140px;overflow:hidden;margin:0px 20px 20px 0px;width:185px;color:#828282;}
.dashboard-activity-entry strong.title {color:#5086b9;margin-bottom:10px;padding-left:24px;background-image:url(../images/event_activity_title_icons.png);background-repeat: no-repeat;font-size:12px;text-transform:uppercase;margin-bottom:5px;display:block;}
.dashboard-activity-entry strong.title.TWEET {background-position:0 0;}
.dashboard-activity-entry strong.title.PHOTOS_VIDEOS {background-position:0 -24px;padding-left:28px;}
.dashboard-activity-entry strong.title.EVENT_CREATION {background-position:0 -56px;padding-left:28px;}

.profile-card {margin-bottom:10px;}
.profile-card h4 {background:#fe60b1;color:#fff;float:left;padding:5px 10px 5px 10px;}
.profile-data {background:#dcdcdc;padding:10px;border-top:solid 5px #fe60b1;margin:-5px 0px 10px 0px;}
.profile-data .profile-picture {margin-right:20px;}
.profile-data .profile-content {width:400px;}
.profile-data h1 {border-bottom:2px solid #fff;padding-bottom:10px;margin-bottom:10px;}

.profile-event-item {float:left;width:300px;margin:0px 10px 10px 0px;}
.profile-event-item .month-day {font-size:12px;float:left;background:#e9e9e9;padding:2px 0px 2px 0px;width:39px;height:42px;text-align:center;}
.profile-event-item .month-day h2 {margin:0;color:#555 !important;font-weight:bold;}
.profile-event-item .event-content {margin-left:5px;float:left;width:250px;}

.event-content-time,
.event-content-searchterms {background-image:url(../images/icons/profile-eventlist.png);background-repeat:no-repeat;}
/*.event-content-time {width:63px;float:left;background-position: 0 2px;padding-left:14px;}
.event-content-searchterms {width:150px;float:left;background-position: 0px -22px;padding-left:14px;}*/
.event-content-time {width:63px;float:left;background-position: 0 2px;padding-left:14px;}
.event-content-searchterms {width:150px;float:left;background-position: 0px -22px;padding-left:14px;}

.event-content-time2,
.event-content-searchterms2 {background-image:url(../images/icons/profile-eventlist.png);background-repeat:no-repeat;}
.event-content-time2 {width:63px;float:left;background-position: 0 2px;padding-left:14px;}
.event-content-searchterms2 {width:40px;float:left;background-position: 0px -22px;padding-left:14px;}


.dashboard-event-item {border-bottom:solid 1px #e1e1e1;padding:12px 0px 12px 0px;}

.dashboard-event-item .month-day {font-size:12px;float:left;background:#e9e9e9;padding:2px 0px 2px 0px;width:52px;height:55px;text-align:center;position:relative;}
.dashboard-event-item .month-day .month {background:#ee5b8f;color:#fff;text-transform:uppercase;font:normal 14px 'InterstatePlusRegular'}
.dashboard-event-item .month-day .icon {position:absolute;bottom:0;right:0;background:url(../images/event-list-icons/test.png) no-repeat;width:21px;height:21px;}
.dashboard-event-item .month-day h2 {margin:0;color:#555 !important;font-weight:bold;font:normal 38px 'InterstatePlusRegular'}

.dashboard-event-item .event-content {margin-left:15px;float:left;width:60%;}
.dashboard-event-item .event-content h6 {margin-bottom:3px;}
.dashboard-event-item .event-content-searchterms {width:70%;}
.dashboard-event-item .event-content-searchterms2 {}

/*.dashboard-event-item .event-totals {float:right;margin-top:15px;}
.dashboard-event-item .event-totals .total-tweets,
.dashboard-event-item .event-totals .total-media {background-color:#fff;background-image:url(../images/icons/dashboard-event-totals.png); background-repeat:no-repeat;height:25px;font-weight:bold;color:#2c70cc;font-size:11px;}
.dashboard-event-item .event-totals .total-tweets {float:left;padding:4px 40px 0px 0px;background-position:40px 0px;width:40px;}
.dashboard-event-item .event-totals .total-media {float:left;padding:4px 30px 0px 0px;background-position:24px -50px;width:40px;}*/

.event-totals { float:right; } /*margin-top:15px; --took this out so the style could be reused better - Using on BrowseEvents.*/
.event-totals .total-tweets,
.event-totals .total-media {background-color:#fff;background-image:url(../images/icons/dashboard-event-totals.png); background-repeat:no-repeat;height:25px;font-weight:bold;color:#2c70cc;font-size:11px;}
.event-totals .total-tweets {float:left;padding:4px 40px 0px 0px;background-position:40px 0px;width:40px;}
.event-totals .total-media {float:left;padding:4px 30px 0px 0px;background-position:24px -50px;width:40px;}

.account-overview {border-top:dotted 1px #b5b5b5;border-bottom:dotted 1px #b5b5b5;padding:10px;margin-bottom:20px;}
.account-overview table {float:left;margin-right:20px;font-size:11px;}
.account-overview table td.label {font-weight:bold;width:100px;}

/* ------------------------------ EVENTS */
#events-nav {float:left;width:268px;margin-right:17px;position:relative;}
#events-content {float:left;width:641px;}

.alltweets-nub {background:url(../images/alltweets-nub.png) no-repeat; width:17px;height:19px;margin-left:10px;}
.unique-tweets,
.total-tweets {background:#f3f3f3;padding:10px 20px 10px 20px;float:left;}
.unique-tweets {width:20%;margin-right:1px;}
.total-tweets {width:50%;}
.unique-tweets h1,
.total-tweets h1 {color:#8c8c8c;}

.unique-tweets h2,
.total-tweets h2 {color:#747474;margin-bottom:0px;}

.alltweets-entry {margin-bottom:20px;}
.alltweets-entry .tweet-content {float:left;margin-left:10px;width:560px;font-size:13px;}
.tweet-content strong {background:url(../images/linebg.png) repeat-x 0 50%;display:block;}
.tweet-content strong a {padding-right:10px;background:#fff;}
.tweet-content .tweet-content-username {font-weight:bold;text-transform:uppercase;padding-bottom:4px;}
.tweet-content .tweet-content-username-small {font-weight:bold;text-transform:uppercase;padding-bottom:4px;font-size:8pt;}
.alltweets-entry .tweet-content p {margin-bottom:2px;}
.alltweets-entry .tweet-content span.tweet-date {font-size:11px;color:#c2c2c2;}

.alllinks-entry { padding: 10px 0; border-bottom: dotted 1px #3e3e3e; }
.alllinks-entry .tweet { margin: 5px 0 5px 20px; border-left: 2px solid #fe60b1; padding-left: 5px; }
.alllinks-entry .tweet img { margin-right: 5px; }


#top-tweeters {padding-top:15px;border-top:dotted 1px #e8e8e8;margin-top:20px;}
#top-tweeters .primary {margin:0px 0px 10px 10px;float:left;width:78%;}
#top-tweeters .toptweeter-item.small {width:50%;}
#top-tweeters .toptweeter-item strong a {text-transform:uppercase;font-size:11px;}
#top-tweeters .toptweeter-item strong a.small {font-size:10px;}
#top-tweeters .toptweeter-item .bar {height:20px;background-color:#f2eec8;float:left;margin-right:5px;}
#top-tweeters .toptweeter-item .count {font:normal 13px 'InterstatePlusRegular';float:left;padding-top:2px;}
#top-tweeters .toptweeter-item .bar.small {height:10px;background-color:#efeeee;float:left;margin-right:5px;}
#top-tweeters .toptweeter-item .count.small {font-size:11px;float:left;padding-top:0px;}

#tweetlist .tweet {margin-bottom:10px;}
#tweetlist .tweet .tweet-body {float:left;width:280px;font-size:13px;margin-left:5px;}

/* ------------------------------ GLOBAL BAR */
#admin-area {float:right;padding:5px 20px 5px 20px;margin-right:10px;border-left:dotted 1px #3e3e3e;font-size:11px;font-style:italic;}	

#global-bar {display:block;background:#000;height:28px;color:#aeaeae;padding-top:5px;}
#global-bar a {color:#aeaeae;}

div#search-container {
	background:#141414;
	float:right;
	width:214px;}

div#search-container input[type=text] {
    float:left;
	background:transparent;
	color:#888;
	font:italic 9pt tahoma;
	border:0;
	width:170px;
	height:10px;
	padding:5px 0 0 5px}

div#search-container input[type=image] {
	vertical-align:top;
	float:right;}

#user-status {float:right;padding:5px 20px 5px 20px;margin-right:10px;border-right:dotted 1px #3e3e3e;border-left:dotted 1px #3e3e3e;font-size:11px;font-style:italic;}
#user-status .person {background:url(../images/icons/header-person.png) no-repeat;padding-left:16px;}
#breadcrumb a {text-transform:lowercase;font-size:13px;text-decoration:underline;}
	
	.Pager {font-family:InterstatePlusRegular;font-size:12px;}
	.Pager a, .Pager span {color:#000;padding:5px;margin:0px 10px 0px 10px;display:inline-block;margin:0 2px 0px 2px;}
	.Pager span.current,
	.Pager a:hover {background:#fc5daf;color:#fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
	
	.Pager .disabled {color:#fff;}
	
.filter-by-time form {margin-bottom:0;}
.filter-by-time form label {float:left !important;display:inline;padding:6px 6px;}
.filter-by-time form input[type=text] {float:left !important;display:inline;width:100px;margin-bottom:0;}
.filter-by-time form input[type=submit] {float:left;margin-bottom:0;}
/* ------------------------------ MISC */

.spacer.dotted {border-top:dotted 1px #b5b5b5;} 
.spacer.dotted.light {border-top:dotted 1px #e8e8e8;} 
.spacer 	{ height:25px; display:block}
.sm-spacer  { height:5px; display:block}
.big-spacer { height:50px; display:block}
.valign		{ vertical-align:middle}
.fleft		{ float:left}
.fright		{ float:right}
.overflowhide { overflow: hidden; }
.required { color:#fe60b1; }
.seperator { border-bottom: 1px dotted #CCC; }


/* ------------------------------ FONTS */	

@font-face {
    font-family: 'InterstatePlusRegular';
    src: url('../fonts/interstateplus_regular_cond-webfont.eot');
    src: url('../fonts/interstateplus_regular_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstateplus_regular_cond-webfont.woff') format('woff'),
         url('../fonts/interstateplus_regular_cond-webfont.ttf') format('truetype'),
         url('../fonts/interstateplus_regular_cond-webfont.svg#InterstatePlusRegular') format('svg');
    font-weight: normal;
    font-style: normal}
    
    
/* ----------------------------- Click Map */
#clickmap-overlay {
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background-color:#000;
    filter:alpha(opacity=70); opacity: 0.7;
} 

#clickmap-loading {
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:transparent url(../images/loading.gif) no-repeat center center;
} 

#clickmap-container div {
    position:absolute;
    width:20px; height:20px;
    background:transparent url(../images/click.png) no-repeat center center;
}
    

/* TagCloud
----------------------------------------------------------*/

.TagCloud			/* Applies to the entire tag cloud */
{
	font-family:Trebuchet MS;
	border:1px solid #888;
	padding:3px; 
	text-align:center;
}

.TagCloud > span	/* Applies to each tag of the tag cloud */
{
	margin-right:3px;
	text-align:center;
}

.TagCloud > span.TagWeight1	/* Applies to the largest tags */
{
	font-size:40px;
}

.TagCloud > span.TagWeight2
{
	font-size:32px;
}

.TagCloud > span.TagWeight3
{
	font-size:25px;
}

.TagCloud > span.TagWeight4
{
	font-size:18px;
}

.TagCloud > span.TagWeight5	/* Applies to the smallest tags */
{
	font-size:12px;
}