* {}

body {
	color:#707070;
	background:#252525;
	font:normal 11pt times, 'times new roman', serif}

a {
	color:#2d8ac5;
	text-decoration:none}

p a {
	text-decoration:underline}


/* ------------------------------ CONTAINERS */

#outer-container {position:relative;z-index:0;}

#content-container {
	background:#fff;
	padding:15px}
	
	
/* ------------------------------ MENUS */

/* --- main menu */	
ul#navigation {
	background:#d1d1d1}
	
ul#navigation li {
	display:inline-block;
	padding:9px 0 5px 0}

ul#navigation li a {
	color:#000;
	padding:10px 10px 6px 10px;
	text-transform:uppercase;
	margin:0 5px;
	font:normal 13pt 'InterstatePlusRegular', impact, sans-serif;}

ul#navigation li a:hover {
	background:#fff;
	color:#60143b}

ul#navigation li a.selected {
	background:#fc5daf;
	color:#fff}


/* --- top tabs */
ul.tabs li {
	float:right;
	display:inline-block;}
	
ul.tabs a {
	color:#fc5daf;
	font:normal 12pt 'InterstatePlusRegular', impact, sans-serif;;
	text-transform:uppercase;
	margin:0 0 0 8px;
	padding:20px 10px 10px 10px;
	line-height:40px;
	background:#000}

ul.tabs a:hover {
	color:#ee4490;
	line-height:45px;
	background:#111}
	
	
	
/* ------------------------------ CONTENT */

h1, h2, h4 {
	color:#000;
	text-transform:uppercase;
	font:normal 26pt 'InterstatePlusRegular', arial, sans-serif;}
	
h2 {
	color:#ee4490;
	font-size:15pt;
	margin-bottom:10px}

h4 {
	color:#333;
	font-size:10pt;
	position:relative;
	top:-5px}

.small-label, small {
	text-transform:uppercase;
	color:#404040;
	font-size:8pt}

small.tinylabel {
	color:#c0c0c0;
	margin-bottom:10px;
	display:block}

p {
	margin-bottom:15px}

div#logo img {
	margin:30px 0}

ul.plain-list li {
	list-style:none;
	margin-bottom:15px}

span.number {
	font-size:25pt;
	position:relative;
	top:4px}
	

/* --- single event page */
div#event-details {
	border-top:1px dotted #ccc;
	padding:15px 0;
	/*margin:0 15px;*/
	border-bottom:1px dotted #ccc;}
	
span.event-details-label, span.event-details-detail {
	display:inline-block;
	vertical-align:top;}

span.event-details-label {
	font-size:8pt;
	color:#444;
	text-transform:uppercase;
	text-align:right;
	width:50px;
	padding:0 3px 0 0;
	margin:3px 0 0 0}
	
span.event-details-detail {
	width:170px;}
	
ul.plain-list .fleft {
	margin-bottom:10px;
	padding-right:10px}

.image-grid img {
	padding:2px 0}
	

image-grid#photosvideos {
	text-align:center}

.image-grid#photosvideos img {
	padding:8px}

.image-grid .withcomment {
	text-align:right;
	height:154px;
	width:180px;
	overflow:hidden;
	float:left;}

.image-grid .commentbubble {
	background:url('../images/icons/bubble.png') no-repeat;
	opacity:0.7;
	padding:3px 5px 5px 5px;
	font-family:InterstatePlusRegular;
	color:#3399ff;
	position:relative;
	top:-155px;
	right:6px;
	z-index:10}

.image-grid .commentbubble:hover {
	opacity:1;}

/*------------------------------- ALL PHOTOS */
div#photos-filterbar {
	padding:15px 0;
	/*margin:0 15px;*/
	border-bottom:1px dotted #000;}


/* ------------------------------ DASHBOARD */
#dashboard-nav {float:left;width:268px;margin-right:17px;}
#dashboard-nav ul li {list-style:none;}
#dashboard-nav ul li a {font:normal 18px 'InterstatePlusRegular', arial, sans-serif;text-transform:uppercase;font-weight:bold;padding:10px;display:block;border-bottom:solid 1p #fff;}
#dashboard-nav ul li a:hover,
#dashboard-nav ul li a.current {background:#f6f6f6;border-bottom:solid 1px #bdbdbd;}

#dashboard-content {float:left;width:641px;}
.dashboard-activity-entry {float:left;height:90px;overflow:hidden;margin:0px 20px 20px 0px;width:185px;}
.dashboard-activity-entry strong.title {color:#5086b9;margin-bottom:10px;}

.profile-card {}
.profile-card h4 {background:#ee4490;color:#fff;float:left;padding:5px 10px 5px 10px;}
.profile-data {background:#dcdcdc;padding:10px;border-top:solid 5px #ee4490;margin-top:-5px;}
/* ------------------------------ FORMS */

div#search-container {
	background:#333;
	margin-top:20px;
	float:right;
	width:214px;position:absolute;top:40px;right:10px;}

div#search-container input[type=text] {
    float:left;
	background:transparent;
	color:#888;
	font:normal 9pt tahoma;
	border:0;
	width:170px;
	padding:5px 0 0 5px}

div#search-container input[type=image] {
	vertical-align:top;
	float:right;}

	
	.Pager {}
	.Pager a, .Pager span {background:#fc5daf;color:#fff;padding:5px;margin:0px 5px 0px 0px;}
	.Pager span.current {background:#fff;color:#fc5daf;}
/* ------------------------------ MISC */

.spacer 	{ height:25px; display:block}
.sm-spacer  { height:5px; display:block}
.big-spacer { height:50px; display:block}
.valign		{ vertical-align:middle}
.fleft		{ float:left}
.fright		{ float:right}
.overflowhide { overflow: hidden; }


/* ------------------------------ FONTS */	

@font-face {
    font-family: 'InterstatePlusRegular';
    src: url('../fonts/interstateplus_regular_cond-webfont.eot');
    src: url('../fonts/interstateplus_regular_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstateplus_regular_cond-webfont.woff') format('woff'),
         url('../fonts/interstateplus_regular_cond-webfont.ttf') format('truetype'),
         url('../fonts/interstateplus_regular_cond-webfont.svg#InterstatePlusRegular') format('svg');
    font-weight: normal;
    font-style: normal}