body {
    padding:0px 40px;
	color:#606060;	
	background:#252525 url(../images/body-bg.jpg) repeat;
	font:normal 13px/18px 'Georgia', times, 'Times New Roman', serif}

a {
   color:#2d8ac5;
   text-decoration:none}

a:hover {
    color:#0957a0}

p a {
    text-decoration:underline}
   
p a:hover {
    text-decoration:none}
    
a.edit_icon {
    background:url(../images/icons/pencil.png) no-repeat 0px 2px;
    padding-left:15px;}

.blue-action-button {
    border:1px solid #3485b7;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:#418fbf; /* no css3 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa0d7', endColorstr='#3486b7'); /*IE */
    background:-webkit-gradient(linear, left top, left bottom, from (#4aa0d7) to (#3486b7)); /* webkit */
    background:-moz-linear-gradient(top, #4aa0d7, #3486b7); /* ff */
    box-shadow:0 0 1px #a1b9c8;
    color:#e6f5fa;
    font:bold 15px 'InterstatePlusRegular';
    padding:5px 10px;
    text-transform:uppercase;
    cursor:pointer;
    box-shadow:0 0 1px #777;}
   
.blue-action-button:hover {
    opacity:0.9;
    position:relative;
    top:1px;}

.datepicker, .timedropdown {
    margin:0 !important;
    display:inline !important;
    width: 4.4em !important;
    border-right:0px !important;}
    
.datepicker {
    width:5em !important;}

.item-data .ui-datepicker-trigger { 
    margin-top:-3px;}


/* ------------------------------ CONTAINERS */

#outer-container {
      position:relative;
      z-index:0;}

#content-container {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;     
	background:#fff;
	padding:15px 15px 40px 15px;
	position:relative;
	min-height:650px;}

#homepage-container {
    margin:120px 0 0 -40px;
	background:transparent url(../images/homepage/book.png) no-repeat top center;
	min-height:728px;
	padding:0px;
	position:relative;}
		
#homepage-content {
    position:absolute;
    top:50px;
    left:80px;}

#homepage-toolbar {
    padding-bottom:10px;
    border-bottom:dotted 1px #b4b4b4;
    width:390px;}    
    
#homepage-toolbar h4, img#logo {
    float:left;}
   
#homepage-toolbar h4 {
    position:relative;
    top:4px}
    
#homepage-toolbar .Pager {
    float:left;
    margin:-10px 0px 0px 10px;
    text-transform:uppercase;
    border-top:0}
    
#homepage-toolbar #refresh {
    float:right;
    margin:-4px 0px 0px 0px;}
    
#header {
    padding:10px 0px 30px 0px;
    position:relative;}
	

/* ------------------------------ MENUS */

/* --- main menu */	
ul#navigation {
    float:right;
    margin-top:10px;}
	
ul#navigation li {
	display:inline-block;
	padding:9px 0 5px 0}

ul#navigation li a {
	color:#989898;
	padding: 9px 10px 7px 10px;
	text-transform:uppercase;
	margin:0 5px;
	font:normal 13pt 'InterstatePlusRegular', impact, sans-serif;}

ul#navigation li a:hover, ul#navigation li a.current {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;    
	background:#162734;
	color:#fff}
	
/* -- Sub Nav */
ul#events-subnav{
    position:absolute;
    top:55px;
    right:113px;
    display:none;}
    
ul.subnav {
    margin:0;
    background:#152632;padding:5px 0px 5px 5px;
    display:inline-block;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;}

ul.subnav li {
    list-style:none;
    float:left;
    padding:0;
    margin:0;}
    
ul.subnav li a {
    color:#989898;
	padding: 0px 10px 0px 10px;
	text-transform:uppercase;
	margin:0 5px;
	font:normal 11pt 'InterstatePlusRegular', impact, sans-serif;}

ul.subnav li a:hover, ul.subnav li a.current {
	color:#fff}
	
/* ------------------------------ CONTENT */

h1, h2, h4 {
	color:#000;
	text-transform:uppercase;
	font:bold 24pt 'InterstatePlusRegular', arial, sans-serif;}

h1 {
    margin-bottom:10px}

h1+h2 {
    position:relative;
    top:-10px}
h2 {
	color:#ee4490;
	font-size:15pt;
	margin-bottom:10px}

h4 {
	color:#333;
	font-size:10pt;
	font-weight:normal;
	position:relative;
	top:-5px}

h6 {
    font-weight:normal;
    font-size:11pt}
    

.small-label, small {
	text-transform:uppercase;
	color:#404040;
	font-size:8pt}

small.tinylabel {
	color:#c0c0c0;
	margin-bottom:10px;
	display:block}

p, ul.plain-list li  {
    margin-bottom:15px}
    
div#logo img {
    margin:30px 0}
    
ul.plain-list li {
    list-style:none}

span.number {
	font-size:30pt;
	position:relative;
	top:4px;margin-right:10px;}
	

/* --- single event page */
.image-grid img { 
    padding:2px 0}
    
.image-grid#photosvideos img {
    margin:8px}

.image-grid .withcomment {
	text-align:right;
	height:154px;
	width:180px;
	position:relative;
	z-index:10;
	overflow:hidden;
	float:left;}

.image-grid .commentbubble {
	background:url('../images/icons/bubble.png') no-repeat 0 2px;
	opacity: 0.7;
	font-family:InterstatePlusRegular;
	color:#fff;
	width:25px;
	height:30px;
	text-align:center;
	display:block;
	position: absolute;
	top:15px;
	left:148px;
	z-index:20}

.image-grid .commentbubble:hover {
    opacity:1;}

/*Browse Events */    
.BrowseWhenMenu li {
    float:left; 
    margin: 0 3px; 
    font-size:11px;}
    
.BrowseWhenMenu li a { 
    color: #343434; 
    padding: 5px;}
    
.BrowseWhenMenu li a:hover, .BrowseWhenMenu li a.active { 
    color: #fff; 
    background-color: #fc5daf; 
    border-radius: 3px}

.BEventListContainer { 
    border-top: 1px dotted #ccc; 
    margin-top: 28px;}

/* --- hottest event slider */
#HottestSlides { 
    width: 610px; 
    overflow: hidden; 
    margin-bottom: 20px;
    background:#ececec;}
    
.HottestEventBig {
    display: none;}

.hottest-photogridTop {
    padding: 10px 10px 0 10px;}
    
.hottest-photogridBottom { 
    padding: 0 10px 10px 10px;}
 
 .hottest-photogridTop, .hottest-photogridBottom {
    height:73px;}
    
.hottest-Title {
    margin: 16px 0 0 5px;}
 
 .hottest-Title .event-totals { /* hiding slider totals for now until I make them better */
     display:none}

.hottest-Title h1 {
    float:left;
    color:#3e3e3e;
    font-size:28pt;
    padding:0 0 0 10px;
    width:400px}
    
.hottestimage { 
    height:73px; 
    width:112px;
    overflow:hidden; 
    float:left; 
    margin-right: 6px;}

.HottestList, .HottestList li, .BrowseWhenMenu, .BrowseWhenMenu li, .browseEventList li, .browseEventList,
.browseCategoryList, .browseCategoryList li, #event-details ul { 
    list-style-type: none;}
 
.HottestList li { 
    float:left; 
    padding:0; 
    margin: 0 20px 10px 0;}
    
.HottestList li a { 
    text-transform: uppercase; 
    color: #888; 
    background: url('../images/icons/BrowseBullet.png') 0 -15px no-repeat;
    font:normal 14px 'InterstatePlusRegular';
    padding-left: 20px;}

.HottestList li a.active { 
    text-transform: uppercase; 
    color: #000; 
    background-position:0 2px; }    
    
.HottestList li a:hover, .HottestList li.active { 
    color: #000; 
    background-position:0 2px; }
    
    
/* --- event categories */
.browseEventList li { 
    margin: 0; 
    padding: 0; 
    color: #2d8ac5;}
    
.browseEventList li div { 
    padding: 2px 5px 2px 0; 
    margin-right: 5px; 
    border-right: 1px solid #e1e1e1; 
    display: inline; color: #9e9c9c; }
    
.browseEventList a:hover, .browseCategoryList li a:hover { 
    text-decoration: underline; }

.browseCategoryList li {
    float:left; 
    width: 165px;
    height: 30px; 
    padding: 6px 0 6px 35px; 
    margin: 10px 5px 10px 0; 
    color: #2d8ac5;
    background: url(../images/icons/Crown.png) no-repeat;
    overflow: hidden;}

#event-intro, #event-optionBar {
    font-size:12px;
    margin-bottom:15px;}

#event-optionBar { 
   padding:10px;
   border-top:dotted 1px #d9d9d9;
   border-bottom:dotted 1px #d9d9d9; 
   height: 35px}
   
#event-optionBar input[type="text"] { 
    width: 200px; float: left; }

#event-details {
    font-size:12px;
    padding:10px;
    border-top:dotted 1px #d9d9d9;
    border-bottom:dotted 1px #d9d9d9;}	
    
#event-details ul { 
    float:left;
    margin-right:25px; }

#event-details ul.hashtags { 
    width:200px;}
    
#event-details ul.hashtags li label { 
    width:70px;}

#event-details ul li { 
    clear:both;}
    
#event-details ul li label {
    float:left;
    margin-right:5px;
    text-transform:uppercase;
    font-size:11px;
    width:40px;}
    
#event-details ul li .value {
    float:left; }

.event-bottom {
    font-size:13px;}
    
.event-checkins img {
    float:left;
    margin:0px 4px 4px 0px;}


/*------------------------------- ALL PHOTOS */

.topPhotosBar { 
    background-color: #f2f2f2; 
    padding:9px; 
    display:none;}

.topPhoto { 
    float:left; 
    overflow:hidden; 
    height:302px;}
    
.topPhotoComments { 
    overflow:auto; 
    height:302px; 
    padding-left:15px;
    width:471px}

.topPhotoComments .tweet-content {
    padding:3px 0}

.topPhotosList {
    margin-top: 10px;}
    
.topPhotosList li { 
    float:left;
    padding:0; 
    margin: 0 20px 10px 0;}
    
.topPhotosList li a { 
    text-transform: uppercase; 
    color: #acacac; 
    background-image: url(../images/icons/BrowseBullet.png) 0 -15px no-repeat;
    padding-left: 20px; }
    
.topPhotosList li a:hover, .topPhotosList li a.active { 
    color: #000; 
    background-position:0 2px; }

div#photos-filterbar {
    padding:15px 0;
    border-bottom:1px dotted #000;}
    
ul#connected-networks, .topPhotosList, .topPhotosList li {
    list-style:none;}


/* ------------------------------ Universal TAB style */

.item-card {
    margin-bottom:10px;}
    
.item-card h4 {
    background:#fe60b1;
    color:#fff;
    float:left;
    padding:7px 10px 5px 10px;
    font-size: 14px !important;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;}
    
.item-data {
    background:#dcdcdc;
    padding:10px;
    border-top:solid 5px #fe60b1;
    margin:-5px 0px 10px 0px;}
    
.item-data .item-content {
    width:400px; }
    
.item-data h1 {
    border-bottom:2px solid #fff;
    padding-bottom:10px;
    margin-bottom:10px;}


/* ------------------------------ CREATE EVENT */
.item-data label {
    float:left;
    font-size:10px;
    width:90px;
    text-align:right;
    text-transform:uppercase;
    color:#3e3e3e;
    padding:6px 10px 0px 0px;}
    
.item-data input[type=text], .item-data textarea, select, #foursquare-search,
fieldset.login input[type="text"], fieldset.login input[type="password"], fieldset.create input[type="password"],
.inEventSearch input[type="text"] {
    border-radius:0;
    border:0;
    background:#fff;
    box-shadow:inset 1px 1px 1px #888;
    margin-bottom:15px !important;
    font-family:georgia}
    
.item-data input.wide, .item-data textarea.wide, .item-data select.wide, #foursquare-search {
    float:left;
    width:480px !important;
    max-width:510px !important;}    
    
.item-data label.wide, .item-data label.wider, .item-data input.small {
    width:100px;}
    
.item-data input.med {
    width:200px;}
    
.item-data p {
    display:block;
    clear:both;}

.item-data select {
    padding:6px 4px;}
    
   
/* --- time select */
.end-time {
    margin-left:110px;
    clear:both;}
    
.end-time input#end-time {
    float:left;
    margin-bottom:10px !important;}
    
.end-time label {
    width:auto !important;
    text-transform:none;
    position:relative;
    top:-6px;
    font-size:8pt;
    color:#858585}
    
/* --- location select */
#foursquare-search {
    padding:5px;
    color:#888;}


/* --- toolbar */
#event-toolbar {position:absolute;left:-33px;top:20px;width:33px;height:269px;}
#event-toolbar a {background-image:url(../images/icons/event-toolbar.png);height:25px;width:33px;text-indent:-9999px;display:block;margin-bottom:10px;}
#event-toolbar a.current, #event-toolbar a:hover {background-image:url(../images/icons/event-toolbar-ov.png);}

#event-toolbar a.allphotos {background-position:0 -42px;}
#event-toolbar a.alltweets {background-position:0 -85px;}
#event-toolbar a.allblogposts {background-position:0 -127px;}
#event-toolbar a.alllinks {background-position:0 -169px;}
#event-toolbar a.allcheckins {background-position:0 -207px;margin-top:-3px;}
#event-toolbar a.search {background-position:0 -252px;}
#event-toolbar a.edit {background-position:0 -294px;}
#event-toolbar a.allstats {background-position:0 -336px;height:18px;}

#event-toolbar .tool-tip {color:#fff;position:absolute;left:28px;font-size:12px;z-index:1000;white-space:nowrap;}
#event-toolbar .tool-tip .tip-container {position:relative;}
#event-toolbar .tool-tip .nub {position:absolute;top:8px;left:0;width:5px;height:23px;background: url(../images/icons/hovernub.png) no-repeat;}
#event-toolbar .tool-tip .tip {position:absolute;top:0;left:5px;height:17px;background:#2d8ac5;padding:4px 5px 2px 5px;text-transform:lowercase;} 

fieldset.login label {padding:8px;width:70px;text-transform:uppercase;font-size:11px;}
fieldset.login label, fieldset.login input[type="text"], fieldset.login input[type="password"] {float:left;}
fieldset.login input[type="text"], fieldset.login input[type="password"] {width:340px; background:#e1e1e1}
fieldset.login p.rememberme, fieldset.login p.submit {padding-left:82px;}
fieldset.login label.left {width:auto !important;padding:2px 0;}

/*CREATE ACCOUNT*/
fieldset.create label {width:100px;text-transform:uppercase;font-size:11px;}
fieldset.create label, fieldset.create select, fieldset.create input[type="text"], fieldset.create input[type="password"] {float:left;}
fieldset.create input[type="text"], fieldset.create select, fieldset.create input[type="password"] {width:300px}
fieldset.create select { width:310px;}
fieldset.create p.rememberme, fieldset.create p.submit {padding-left:82px;}
fieldset.create label.left {width:auto !important;}
fieldset.create p#confirmPW label {position:relative; top:-4px; line-height:13px}

.createArrow { background: url('../images/icons/CreateAccountArrow.png') no-repeat; height: 350px; background-position: 0 65px; }
.createAccountButton { position:relative; top: 155px; left: 80px; height: 40px; }
.createAccountButton:hover { top: 156px;}


/* ------------------------------ DASHBOARD */

#dashboard-nav {
    float:left;
    width:268px;
    margin-right:17px;}

ul#left-nav {
    margin:30px 0;}
    
ul#left-nav li {
    list-style:none;}

ul#left-nav li a {
    font:bold 18px 'InterstatePlusRegular', arial, sans-serif;
    text-transform:uppercase;
    padding:10px;
    display:block;
    border-bottom:1px solid #fff}
    
ul#left-nav li a:hover, ul#left-nav li a.current {
    color:#fc5daf;
    background:#f6f6f6;
    border-bottom:solid 1px #bdbdbd;
    text-decoration:none}

#dashboard-content {
    float:left;
    width:641px;}
    
.dashboard-activity-entry {
    float:left;
    height:140px;
    overflow:hidden;
    margin:0px 20px 20px 0px;
    width:185px;
    color:#828282;}
    
.dashboard-activity-entry strong.title {
    color:#5086b9;
    margin-bottom:10px;
    padding-left:24px;
    background:url('../images/event_activity_title_icons.png') no-repeat;
    font-size:12px;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:5px;
    display:block;}
    
.dashboard-activity-entry strong.title.TWEET {
    background-position:0 0;}
    
.dashboard-activity-entry strong.title.PHOTOS_VIDEOS {
    background-position:0 -24px;
    padding-left:28px;}
    
.dashboard-activity-entry strong.title.EVENT_CREATION {
    background-position:0 -56px;
    padding-left:28px;}

#homepage-content {float:left;width:880px;}
.homepage-activity-entry { float:left;height:184px;overflow:hidden;margin:0px 20px 20px 0px;width:200px;color:#828282; }
.homepage-activity-entry h2 a { color: #ee4490;}
.homepage-activity-entry strong.title {font-weight:normal; color:#5086b9;margin-bottom:10px;padding-left:24px;background-image:url(../images/event_activity_title_icons.png);background-repeat: no-repeat;font-size:12px;text-transform:uppercase;margin-bottom:5px;display:block;}
.homepage-activity-entry strong.title.TWEET {background-position:0 0;}
.homepage-activity-entry strong.title.PHOTOS_VIDEOS { background-position:0 -24px;padding-left:28px; }
.homepage-activity-entry strong.title.EVENT_CREATION {background-position:0 -56px;padding-left:28px;}

.profile-card {margin-bottom:10px;}
.profile-card h4 {background:#fe60b1;color:#fff;float:left;padding:5px 10px 5px 10px;}
.profile-data {background:#dcdcdc;padding:10px;border-top:solid 5px #fe60b1;margin:-5px 0px 10px 0px;}
.profile-data .profile-picture {margin-right:20px;}
.profile-data .profile-content {width:400px;}
.profile-data h1 {border-bottom:2px solid #fff;padding-bottom:10px;margin-bottom:10px;}

.profile-event-item {float:left;width:300px;margin:0px 10px 10px 0px;}
.profile-event-item .month-day {font-size:12px;float:left;background:#e9e9e9;padding:0px 0px 2px 0px;width:39px;height:42px;text-align:center;}
.profile-event-item .month-day h2 {margin:0;color:#555 !important;font-weight:bold;}
.profile-event-item .event-content {margin-left:5px;float:left;width:250px;}

.event-content-time,
.event-content-searchterms {background-image:url(../images/icons/profile-eventlist.png);background-repeat:no-repeat;}
.event-content-time {width:63px;float:left;background-position: 0 2px;padding-left:14px;}
.event-content-searchterms {width:150px;float:left;background-position: 0px -22px;padding-left:14px;}

.event-content-time2, .event-content-searchterms2 {background-image:url(../images/icons/profile-eventlist.png);background-repeat:no-repeat;}
.event-content-time2 {width:63px;float:left;background-position: 0 2px;padding-left:14px;}
.event-content-searchterms2 {width:40px;float:left;background-position: 0px -22px;padding-left:14px;}

.dashboard-event-item {
    border-bottom:solid 1px #e1e1e1;
    padding:8px 0px;}
   
.dashboard-event-item .event-totals {
    display:none}

.dashboard-event-item .month-day {
    font:bold 12px helvetica, arial, sans-serif;
    float:left;
    background:#e9e9e9;
    padding:0 0 2px 0;
    width:52px;
    height:55px;
    text-align:center;
    position:relative;}
    
.dashboard-event-item .month-day .month {
    background:#ee5b8f;
    color:#fff;
    text-transform:uppercase;
    font-size:14px}
    
.dashboard-event-item .month-day .icon {
    position:absolute;
    bottom:0;
    right:0;
    background:url(../images/event-list-icons/test.png) no-repeat;
    width:21px;
    height:21px;}
    
.dashboard-event-item .month-day h2 {
    margin:0;
    color:#555 !important;
    font-size:38px;
    position:relative;
    top:-2px}

.dashboard-event-item .event-content {margin-left:15px;float:left;width:60%;}
.dashboard-event-item .event-content h6 {margin-bottom:3px;}
.dashboard-event-item .event-content-searchterms {width:70%;}

.event-totals { float:right; } /*margin-top:15px; --took this out so the style could be reused better - Using on BrowseEvents.*/
.event-totals .total-tweets, .event-totals .total-media {background-color:#fff;background-image:url(../images/icons/dashboard-event-totals.png); background-repeat:no-repeat;height:25px;font-weight:bold;color:#2c70cc;font-size:11px;}
.event-totals .total-tweets {float:left;padding:4px 40px 0px 0px;background-position:50px 0px;width:50px;}
.event-totals .total-media {float:left;padding:4px 30px 0px 0px;background-position:34px -50px;width:40px;}

.account-overview {
    border-top:dotted 1px #b5b5b5;
    border-bottom:dotted 1px #b5b5b5;
    padding:10px 10px 20px 10px;
    margin-bottom:20px;}
    
.account-overview table {
    margin:0 50px 20px 0;
    font-size:11px;}
    
.account-overview table > .blue-action-button {clear:both}
.account-overview table td.label {font-weight:bold;width:100px;}


/* ------------------------------ EVENTS */

#events-nav {float:left;width:268px;margin-right:17px;position:relative;}
#events-content {float:left;width:641px;}

.subscribedIndicator { background-color: #f2f9fb; color: #c4cacc; border-top: 1px dotted #b1e9fa; border-bottom: 1px dotted #b1e9fa; padding: 1px 0 0 20px; width: 110px; margin-bottom: 10px; height: 16px; background-image: url(../images/icons/SubscribedCheck.png); background-repeat:no-repeat; background-position: 5px 5px;  }

.alltweets-nub {background:url(../images/alltweets-nub.png) no-repeat; width:17px;height:19px;margin-left:10px;}
.unique-tweets {background:#f3f3f3;padding:10px 20px 10px 20px;float:left;}
.unique-tweets {width:225px;margin-right:1px;}
.unique-tweets h1{color:#8c8c8c;}

.unique-tweets h2, .total-tweets h2 {color:#747474;margin-bottom:0px;}

.alltweets-entry {margin-bottom:20px;}
.alltweets-entry .tweet-content {float:left;margin-left:10px;width:560px;font-size:13px;}
.tweet-content strong {background:url(../images/linebg.png) repeat-x 0 50%;display:block;}
.tweet-content strong a {padding-right:10px;background:#fff;}
.tweet-content .tweet-content-username {font-weight:bold;text-transform:uppercase;padding-bottom:4px;}
.tweet-content .tweet-content-username-small {font-weight:bold;text-transform:uppercase;padding-bottom:4px;font-size:8pt;}
.alltweets-entry .tweet-content p {margin-bottom:2px;}
.alltweets-entry .tweet-content span.tweet-date {font-size:11px;color:#c2c2c2;}

.alllinks-entry { padding: 10px 0;}
.alllinks-entry .tweet {color:#696969;margin: 5px 0 5px 15px; border-left: 3px solid #fe60b1; padding:5px; height:40px; background:#e6f7f9 }
.alllinks-entry .tweet img { margin-right: 8px; }

#top-tweeters {padding-top:15px;border-top:dotted 1px #e8e8e8;margin-top:20px;}
#top-tweeters .primary {margin:0px 0px 20px 10px;float:left;width:78%;}
#top-tweeters .toptweeter-item.small {margin:0px 0px 15px 10px;float:left;width:78%;}
#top-tweeters .toptweeter-item strong a {text-transform:uppercase;font-size:11px;}
#top-tweeters .toptweeter-item strong a.small {font-size:10px;}
#top-tweeters .toptweeter-item .bar {height:20px;float:left;margin-right:5px;}
#top-tweeters .toptweeter-item .bar.color_0 {background:#ca118b;}
#top-tweeters .toptweeter-item .bar.color_1 {background:#fb75b7;}
#top-tweeters .toptweeter-item .bar.color_2 {background:#fba2c6;}
#top-tweeters .toptweeter-item .count {font:normal 13px 'InterstatePlusRegular';float:left;padding-top:2px;}
#top-tweeters .toptweeter-item .bar.small {height:10px;background-color:#fb75b7;float:left;margin-right:5px;}
#top-tweeters .toptweeter-item .count.small {font-size:11px;float:left;padding-top:0px;}

#tweetlist .tweet {
    margin-bottom:10px;}

#tweetlist .tweet .tweet-body {
    float:left;
    width:280px;
    font-size:13px;
    margin-left:5px;}


/* ------------------------------ GLOBAL BAR */

#admin-area {
    float:right;
    padding:5px 20px 5px 20px;
    margin-right:10px;
    border-left:dotted 1px #3e3e3e;
    font-size:11px;
    font-style:italic;}	

#global-bar {
    display:block;
    background:#000;
    height:28px;
    padding-top:5px;
    margin:0px -40px 0px -40px;}
    
#global-bar a, #global-bar {
    color:#aeaeae;}

div#search-container {
	background:#141414;
	float:right;
	width:214px;}

div#search-container input[type=text] {
    float:left;
	background:transparent;
	color:#888;
	font:italic 9pt tahoma;
	border:0;
	width:170px;
	height:10px;
	padding:5px 0 0 5px}

div#search-container input[type=image] {
	vertical-align:top;
	float:right;}

#user-status {float:right;padding:5px 20px 5px 20px;margin-right:10px;border-right:dotted 1px #3e3e3e;border-left:dotted 1px #3e3e3e;font-size:11px;font-style:italic;}
#user-status .person {background:url(../images/icons/header-person.png) no-repeat;padding-left:16px;}
#breadcrumb a {text-transform:lowercase;font-size:11px;text-decoration:underline;}


/* --- pager */
.Pager {
    border-top:1px dotted #c0c0c0;
    min-width:250px;
    max-width:400px;
    padding-top:10px;
    font:bold 12px/20px InterstatePlusRegular}
        
.Pager a, .Pager span {
    color:#000;
    padding:1px 8px;
    margin-right:2px;
    display:inline-block}
    
.Pager span.current, .Pager a:hover {
    color:#fff;
    background:#fc5daf;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; 
    border-radius: 2px;}
 
 .Pager a:hover {
     background:#e0e0e0;
     color:#777}
    
.Pager .disabled {
    color:#fff;}
	
.filter-by-time form { margin-bottom:0; margin-left: 370px; text-align: right;}
.filter-by-time form label {float:left !important;display:inline;padding:6px 6px;}
.filter-by-time form input[type=text] {float:left !important;display:inline;width:100px;margin-bottom:0;}
.filter-by-time form input[type=button], .filter-by-time form input[type=submit] {float:left;margin-bottom:0;}

#footer {margin-top:40px;font-size:13px;color:#bfbfbf;}
#footer h4 {color:#7fbaee;font:normal 14px 'InterstatePlusRegular',sans-serif;text-transform:uppercase;}
#footer a {color:#7fbaee;}
#footer #column-one,#footer #column-two,#footer #column-three {float:left;margin-right:20px;} 
#footer #column-one {width:280px;font-size:13px;}
#footer #column-one ul {float:left;margin:0;}
#footer #column-one ul li {list-style:none;float:left;}
#footer #column-one ul li a {display:block;font:normal 13px 'InterstatePlusRegular',sans-serif;text-transform:uppercase;padding:10px 15px 10px 0px;}
#footer #column-one p {width:200px;clear:both;}

#footer #column-two {width:310px;}
#footer #column-two .tweet_list {list-style:none;}
#footer #column-two .tweet_list li {border-bottom:solid 1px #14202b;padding:0px 0px 10px 0px;margin-bottom:10px;}

#footer #column-three {width:280px;}
#footer #column-three .social {border-top:solid 1px #14202b;padding-top:10px;}
#footer #column-three .social h4 {float:left;margin:10px 10px 0px 0px;}
#footer #column-three .social img {float:left;margin-right:5px;}

.rssHeader {display:none;}
.rssBody ul {list-style:none;}


/* ------------------------------ MISC */

.spacer.dotted {border-top:dotted 1px #b5b5b5;} 
.spacer.dotted.light {border-top:dotted 1px #e8e8e8;} 
.spacer 	{ height:25px; display:block}
.sm-spacer  { height:5px; display:block}
.big-spacer { height:50px; display:block}
.valign		{ vertical-align:middle}
.fleft		{ float:left}
.fright		{ float:right}
.overflowhide{ overflow: hidden}
.hidden { display: none; }
.required  { color:#fe60b1}
.seperator { border-bottom: 1px dotted #CCC}


/* ------------------------------ FONTS */	

@font-face {
    font-family: 'InterstatePlusRegular';
    src: url('../fonts/interstateplus_regular_cond-webfont.eot');
    src: url('../fonts/interstateplus_regular_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstateplus_regular_cond-webfont.woff') format('woff'),
         url('../fonts/interstateplus_regular_cond-webfont.ttf') format('truetype'),
         url('../fonts/interstateplus_regular_cond-webfont.svg#InterstatePlusRegular') format('svg');
    font-weight: normal;
    font-style: normal}
 
 @font-face {
    font-family: 'InterstatePlusRegular';
    src: url('../fonts/interstateplus_bold_cond-webfont.eot');
    src: url('../fonts/interstateplus_bold_cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstateplus_bold_cond-webfont.woff') format('woff'),
         url('../fonts/interstateplus_bold_cond-webfont.ttf') format('truetype'),
         url('../fonts/interstateplus_bold_cond-webfont.svg#InterstatePlusRegular') format('svg');
    font-weight: bold;
    font-style: normal;}

    
    
/* ----------------------------- Click Map */

#clickmap-overlay {
    background-color:#000;
    filter:alpha(opacity=70); 
    opacity: 0.7;} 

#clickmap-loading {
    background:transparent url(../images/loading.gif) no-repeat center center;} 

#clickmap-overlay, #clickmap-loading {
    position:fixed;
    top:0; 
    left:0;
    width:100%; 
    height:100%}

#clickmap-container div {
    position:absolute;
    width:20px; height:20px;
    background:transparent url(../images/click.png) no-repeat center center;}
    

/* TagCloud
----------------------------------------------------------*/

.TagCloud /* Applies to the entire tag cloud */ {
	font-family:Trebuchet MS;
	border:1px solid #888;
	padding:3px; 
	text-align:center;}

.TagCloud > span	/* Applies to each tag of the tag cloud */ {
	margin-right:3px;
	text-align:center;}

.TagCloud > span.TagWeight1	/* Applies to the largest tags */ {
	font-size:40px;}

.TagCloud > span.TagWeight2 {
	font-size:32px;}

.TagCloud > span.TagWeight3 {
	font-size:25px;}

.TagCloud > span.TagWeight4 {
	font-size:18px;}

.TagCloud > span.TagWeight5	/* Applies to the smallest tags */ {
	font-size:12px;}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	    body {}    
	    #global-bar {}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
	
	
	.txtdropdown-outer {position:relative;}
	
	
/* 5 star rating system
================================================== */

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
	background: url(../images/icons/star.png) left -1000px repeat-x;
}

.star-rating{
	position:relative;
	width:80px;
	height:16px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}

.star-rating li{
	display: inline;
}

.star-rating a,
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:16px;
	line-height:16px;
	outline:none;
	overflow:hidden;
	border: none;
}

.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: left bottom;
}

.star-rating a.one-star{
	width:20%;
	z-index:6;
}

.star-rating a.two-stars{
	width:40%;
	z-index:5;
}

.star-rating a.three-stars{
	width:60%;
	z-index:4;
}

.star-rating a.four-stars{
	width:80%;
	z-index:3;
}

.star-rating a.five-stars{
	width:100%;
	z-index:2;
}

.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}	

.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}

.smallRateLink { font-size: 0.8em; }
a.smallRateLink:hover { text-decoration: underline; }


.starSmall { font-size: 0.7em; line-height: 1em; }

/* Some Popup stuff
================================================== */
    
/*.uiPopUp {
    color:#888;
    padding:10px; 
    border-top:2px solid #000;
    background: #2e3335 url('images/layout/bg-dropdown.png') top center no-repeat; 
    width: 350px; 
    position: relative; 
    left: 460px;
    top: -15px;
    z-index: 10}  */
    
/* for the Rating popup */
 #RatingPopUpDiv.uiPopUp {
    padding: 10px;
    background: #418fbf url('../images/icons/popUpNub.png') top center no-repeat;  
    width: 75px; 
    position: relative; 
    left: -10px;
    top: 0px;
    z-index: 1000; }
