body {
    background-color: #343434;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}
a {text-decoration:none;}
a:link { color: #034af3; }
a:visited { color: #505abc; }
a:hover { color: #1d60ff;}
a:active { color: #12eb87;}
p { margin-bottom: 10px;}

header,
footer,
nav,
section { display: block; }


/* ---------------------------------------- FONTS ---- */

@font-face {
    font-family: 'InterstatePlusBoldCond';
    src: url('../fonts/interstateplus_bold_cond-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}


@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/Chunkfive-webfont.eot');
    src: url('fonts/Chunkfive-webfont.eot?#iefix') format('eot'),
         url('fonts/Chunkfive-webfont.woff') format('woff'),
         url('fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('fonts/Chunkfive-webfont.svg#webfontbMWZ83oH') format('svg');
    font-weight: normal;
    font-style: normal;}
    
@font-face {
    font-family: 'MuseoSlab500';
    src: url('fonts/Museo_Slab_500-webfont.eot');
    src: url('fonts/Museo_Slab_500-webfont.eot?iefix') format('eot'),
         url('fonts/Museo_Slab_500-webfont.woff') format('woff'),
         url('fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('fonts/Museo_Slab_500-webfont.svg#webfont8VbsAwew') format('svg');
    font-weight: normal;
    font-style: normal;}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { font-size: 1.5em; color: #000; }

h1 { font-size: 2em; padding-bottom: 0; margin-bottom: 0; }
h2 { padding: 0 0 10px 0; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.container {background:#fff;}
header{
    background:#343434;
    position: relative;
    margin-bottom: -20px;
    color: #000;
    padding: 0;
}

header #logo {float:left;}
section[role="main"], #main {background:#fff;margin-top:10px;}
footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
}

nav ul li {float:left;margin-bottom:0px;line-height:normal;}

nav[role="global"] {position:absolute;top:0;right:0;}
nav[role="global"] ul li {background:#000;color:#fc5daf;margin-right:5px;}
nav[role="global"] ul li a {color:#fc5daf;padding:5px 15px 5px 15px;display:block; font-family: 'InterstatePlusBoldCond', 'MuseoSlab500', Chunk Five, Rockwell, serif;}
nav[role="global"] ul li a:hover { padding:8px 15px 5px 15px;}

nav[role="main"] {background:#d1d1d1;}
nav[role="main"] ul li a {color:#000;display:block;font-size:16px;padding:5px 10px; font-family: 'InterstatePlusBoldCond', 'MuseoSlab500', Chunk Five, Rockwell, serif; }
nav[role="main"] ul li a:hover {background:#fc5daf;color:#fff;}