.videothumbnailcontainer {
    float: left;
    position: relative
}

.videothumbnail1 {
    position: absolute;
    top: 50px;
    left: 60px;
}

.videothumbnail2 {
    position: absolute;
    top: 130px;
    left: 180px;
}

.videothumbnail3 {
    position: absolute;
    top: 60px;
    left: 70px;
}