.txtdropdown-btn {
  width: 23px;
  height: 29px;
  float: right;
  background: url('txtdropdown-btn.png') no-repeat center;
}

.txtdropdown-btn:hover {
  background: url('txtdropdown-btn-hover.png') no-repeat center;
}

.txtdropdown-ddl
{
  background-color:White;
  border: 1px solid;
  border-top:0px;
  padding: 0px;
  list-style: none;
  margin: 0px;
  max-height:20em;
  overflow:auto;
  cursor:default;
  visibility: hidden;
  font-size:12px;
}

.txtdropdown-ddl li {
  padding: 0px 2px;
  display: block;
  list-style: none;
  margin: 0px;
}

.txtdropdown-ddl li:hover {
  background-color:Highlight;
  color:HighlightText;
}
