<table id="twitter_table">
    {#foreach $T.results as tweet}
    <tr>
        <td style="vertical-align:top;padding:5px;">
            <a href="http://www.twitter.com/{$T.tweet.from_user}">
                <img src="{$T.tweet.profile_image_url}" width="38" height="38" border="0"  />
            </a>
        </td>
        <td style="font-size:13px; font-family: helvetica, Arial, Sans-Serif; color: #777;">
            <strong><a style="color:#777" href="http://twitter.com/{$T.tweet.from_user}">{$T.tweet.from_user}:</a></strong>
            {$T.tweet.text}<br />
        </td>
    </tr>
    <tr>
        <td colspan="2">
           
        </td>
    </tr>
    {#/for}
</table>
