@{
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
    ViewBag.Title = "Epilogger | We'll remember it for you";
}
<div id="homepage-content">
    <div id="homepage-toolbar" class="clearfix">
        <h4>See What's Happening</h4><div class="Pager"><span class="current">All</span><a href="#">Now</a><a href="#">Future</a></div><img src="@Url.Content("~/Public/images/homepage/refresh.png")" id="refresh" />
    </div>

</div>