@model Epilogger.Web.Models.PhotoDetailsViewModel

@*/* ----- Facebook ----- */*@
@*<div id="fb-root"></div>*@
<script type="text/javascript"> (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=429966960354582";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
        
@*/* ----- Twitter ----- */*@
<script type="text/javascript">!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
    
    
@*/* ----- Google Plus ----- */*@    
<script type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>


<ul class="shareBar">
    <li style="float: left; margin-top: 6px;"><div class="fb-like" data-href="http://epilogger.com/events/PhotoDetails/@Model.EventId/@Model.Image.ID" data-send="false" data-layout="button_count" data-show-faces="false" data-font="arial"></div></li>
    <li class="padABit"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-related="Epilogger: Epilogger" data-url="@Model.ShortURL" data-text="@Model.HashTag">Tweet</a></li>
    <li class="padABit"><g:plusone size="medium" annotation="inline" width="200"></g:plusone></li>
</ul>