@{
    ViewBag.Title = "Epilogger - Upgrade Benefits";
    Layout = "~/Views/Shared/_InteriorLayoutNoBC.cshtml";
}

<h1 class="center">Upgrade for $50! Get premium features designed to foster<br /> community engagement before, during, and after your event.</h1>

<table class="benefitsTable">
    <tr class="headerRow">
        <th class="column1"></th>
        <th class="basicHeading column2">Basic (free)</th>
        <th class="premiumHeading column2">Premium ($50/event)</th>
    </tr>
    
    
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-searchterms.png" alt="" class="benefitImage" />
            <h2>Multiple Search Terms</h2>
            <p>Sometimes attendees don't use the right hashtag! Capture tweets about your event without the official hashtag in them.</p>
        </td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    
    
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-livemode.png" alt="" class="benefitImage" />
            <h2>Live Mode</h2>
            <p>Contributor wall optimized for large screens on site at events. View a full, real time feed of event content and let your attendees see their name in lights.</p>
        </td>
        <td class="center" style="padding-top: 50px;">preset themes</td>
        <td class="center" style="padding-top: 50px;">fully customizable</td>
    </tr>
    
    
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-featureembed.png" alt="" class="benefitImage" />
            <h2>Embed Your Event</h2>
            <p>Embed the Epilogger widget into your blog or website with our simple drop-in code.</p>
        </td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-eventbrite.png" alt="" class="benefitImage" />
            <h2>Eventbrite Ticketing</h2>
            <p>Sell tickets right from your event’s Epilogger page! Show potential attendees the fantastic community already involved.</p>
        </td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-toptweeters.png" alt="" class="benefitImage" />
            <h2>Top 10 Contributors</h2>
            <p>Recognize who has been talking about your event online the most with our top ten list.</p>
        </td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-uploadphoto.png" alt="Upload photos and albums" class="benefitImage" />
            <h2>Upload Photos & Albums</h2>
            <p>Make your event archive the most comprehensive by allowing your attendees to upload their own photos directly from <strong>Facebook, Flickr, or their computer</strong>.</p>
        </td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-commenting.png" alt="" class="benefitImage" />
            <h2>Commenting</h2>
            <p>Increase virability of your event’s content by having users comment on photos and videos right from the event page.</p>
        </td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-verified.png" alt="" class="benefitImage" />
            <h2>Verified Event</h2>
            <p>Make it official! Claim your event and let the Epilogger and social web community know that it is the official center of activity.</p>
        </td>
        <td></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-feature.png" alt="" class="benefitImage" />
            <h2>Featured Event</h2>
            <p>Have your event featured on the Epilogger.com homepage and the homescreen of the iPhone app.</p>
        </td>
        <td></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-lifespan.png" alt="" class="benefitImage" />
            <h2>Longer Lifespan</h2>
            <p>Keep all the great content accessible and online. Your event will be available for a full year ($10 each additional year).</p>
        </td>
        <td></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-feature-moderation.png" alt="" class="benefitImage" />
            <h2>Content Moderation</h2>
            <p>Have the ability to delete irrelevant photos, videos, and tweets so your fans only see what you want them to see.</p>
        </td>
        <td></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
    <tr>
        <td>
            <img src="/Public/images/Upgrade/icon-privateevent.png" alt="" class="benefitImage" />
            <h2>Private Events</h2>
            <p>Perfect for exclusive events not intended for the general public.</p>
        </td>
        <td></td>
        <td><img src="/Public/images/Upgrade/icon-featurecheckmark.png" alt="" class="benefitImageCheck" /></td>
    </tr>
</table>

<div class="spacer"></div>
<ul class="authButtons">
    <li>@Html.ActionLink("CREATE A PREMIUM EVENT", "index", "home", new { @class = "addEventTrigger blue-action-button" })</li>
    <li class="orSepertor"><em>&mdash; or &mdash;</em></li>
    <li>@Html.ActionLink("UPGRADE AN EXISTING EVENT", "events", "dashboard", null, new { @class = "blue-action-button" })</li>
</ul>
<div class="spacer"></div>
