
<div id="RatingPopUpDiv" class="uiPopUp" style="display: none;">
    <div id="RatingPopUpContentDiv" class="uiPopUpBody">
        <ul class="star-rating">
	        <li><a href="" title="1 star out of 5" class="one-star">1</a></li>
	        <li><a href="" onclick="" title="2 stars out of 5" class="two-stars">2</a></li>
	        <li><a href="" onclick="" title="3 stars out of 5" class="three-stars">3</a></li>
	        <li><a href="" onclick="" title="4 stars out of 5" class="four-stars">4</a></li>
	        <li><a href="" onclick="" title="5 stars out of 5" class="five-stars">5</a></li>
        </ul>
    </div>
</div>
