@using Epilogger.Web;
@model Epilogger.Data.Tweet

<li id="Tweet-@Model.TwitterID" class="tweet">
    <img src="@Model.ProfileImageURL" class="fleft" height="48" width="48" alt="" />
    <small><a href="http://www.twitter.com/@Model.FromUserScreenName" target="_blank">@Model.FromUserScreenName</a></small>
    <p>@Html.Raw(Model.TextAsHTML)</p>
    <small>@DateTime.Parse(Model.CreatedDate.ToString()).ToUserTimeZone()</small>
</li>