@model Epilogger.Web.Models.TweetTemplateViewModel
          
<li id="Tweet-@Model.Tweet.TwitterID" class="tweet clearfix">
    <img src="@Model.Tweet.ProfileImageURL" class="fleft" height="48" width="48" alt="" />
    <div class="tweet-body">
        <strong><a href="http://www.twitter.com/@Model.Tweet.FromUserScreenName" target="_blank">@@@Model.Tweet.FromUserScreenName</a></strong>
        <p class="half-bottom">@Html.Raw(Model.Tweet.TextAsHTML)</p>
        <span class="tweet-date">(@Html.DisplayFor(thing => Model.Tweet.CreatedDate))&nbsp;
        @if (Model.CanDelete)
        {
            <a href="" class="deleteTweet fright" id="@Model.Tweet.ID">delete</a>
        }</span>
    </div>
</li>