@using Epilogger.Web;
@using Epilogger.Web.Models;
@model Epilogger.Web.Models.AllBlogPostsViewModel
@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - " + Model.Name + "- All Blogs";
}
@Html.Partial("EventToolbar")

<div id="events-nav">
    <h1>ALL @Model.TotalRecords BLOG POSTS</h1>
    <h2>FROM @Model.Name</h2>
</div>
<div id="events-content">
    Put content here
</div>
