@using Epilogger.Web;
@using Epilogger.Web.Models;
@model Epilogger.Web.Models.AllLinksViewModel
@{
    ViewBag.Title = "Epilogger - " + Model.Name + "- Tweets";
}
@Html.Partial("EventToolbar")

<div id="events-nav">
    <h1>ALL LINKS</h1>
    <h2>FROM @Model.Name</h2>
    @Html.Partial("Menu")

</div>
<div id="events-content">

</div>
