@model Epilogger.Web.Models.CreateEvent3ViewModel
@{
    Layout = "~/Views/Events/_CreateEventLayout.cshtml";
    ViewBag.Title = "Create a new event | Epilogger";
}
<script type="text/javascript">
    $(document).ready(function () {
        parent.$.colorbox.resize({ width: 560, height: 520 });
    });
    
    function CloseAndRedirect(url) {
        parent.window.location = url;
    }

</script>

<div class="form_process4">
    <img src="/Public/images/CreateEvent/EventCreatedActive.png" alt="Private?" />
</div>

@using (Html.BeginForm("CreateEvent3", "Events", FormMethod.Post, new { id = "UpgradeToPremium" }))
{
    <div id="final_wrapper">
        <div style="height: 368px;">
            <div class="greyBox">
                @Html.CheckBoxFor(model => model.IsPrivate, new { @class = "fleft" })
                <div class="checkMargin">
                    <label for="IsPrivate"><h2><img src="/Public/images/CreateEvent/icon-private-sm.png" alt="" /> Make my event private</h2></label>
                    <em>This is a premium feature. If you select this you’ll be taken to a payment screen to complete the upgrade process. Don't worry, your event info is already saved!</em>
                </div>
        
            </div>
    
            <h2>HERE'S WHAT ELSE YOU GET WHEN YOU UPGRADE YOUR EVENT:</h2>
            <ul class="upgradeFeatures">
                <li>
                    <img src="/Public/images/CreateEvent/icon-featured-sm.png" alt="Featured" />
                    <div class="tableText">
                        Featured on our website homepage and as the cover of our iphone app
                    </div>
                </li>
                <li>
                    <img src="/Public/images/CreateEvent/icon-livemode-sm.png" alt="Live Mode" />
                    <div class="tableText">
                        Fully customizable Live Mode <br />(twitter wall)
                    </div>
                </li>
        
                <li>
                    <img src="/Public/images/CreateEvent/icon-verified-sm.png" alt="Verified" />
                    <div class="tableText">
                        Verified badge on your event page
                    </div>
                </li>
                <li>
                    <img src="/Public/images/CreateEvent/icon-eventbrite-sm.png" alt="EventBright" />
                    <div class="tableText">
                        Eventbrite ticketing
                    </div>
                </li>
        
                <li>
                    <img src="/Public/images/CreateEvent/icon-lifespan-sm.png" alt="Lifespan" />
                    <div class="tableText">
                        A longer lifespan, keep your event active for a full year
                    </div>
                </li>
                <li>
                    <img src="/Public/images/CreateEvent/icon-moderate-sm.png" alt="Lifespan" />
                    <div class="tableText">
                        Content Moderation
                    </div>
                </li>
        
        

            </ul>
        </div>

        <div id="tweet_footer">
            <div class="dashed"></div>
            <div id="left">
            </div>
            <div id="right" class="finalRight">
                @Html.ActionImage("CreateEvent4", "Events", new { id = Model.EventId }, "/Public/images/CreateEvent/StayWithBasicButton.png", "Stay with Basic")
                @*@using (Html.BeginForm("CreateEvent3", "Events", FormMethod.Post, new { id = "StayBasic", style = "display: inline;" }))
                {
                    <a href="" onclick="$('#StayBasic').submit();return false;"><img src="/Public/images/CreateEvent/StayWithBasicButton.png" alt="" border="0"/></a>
                    
                }*@
                
                

                
                @*API CALL - Submits form defined above*@
                
                @Html.HiddenFor(model => model.EventId)
                @*@Html.ActionImage("CreateEventFinal", "Events", new {}, "/Public/images/CreateEvent/UpgradeToPremium.png", "Upgrade to Premium")*@
                <a href="" onclick="$('#UpgradeToPremium').submit();return false;"><img src="/Public/images/CreateEvent/UpgradeToPremium.png" alt="" border="0"/></a>
                
                

                @*
                LIVE Buy now Button
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="display: inline;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="VS7FNKA5WYZE8">
                    <input type="image" src="http://epilogger.com/public/images/createevent/UpgradeToPremium.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>*@
                
                @*   <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" style="display: inline;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2MLYKN3DKAGZ2">
                    <input type="image" src="http://epilogger.com/public/images/createevent/UpgradeToPremium.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>*@


            </div>
        </div>
    </div>
}
