
<div style="text-align: center;">
    <br class="spacer"/><br class="spacer"/>
    <textarea class="tweetBox" cols="20" id="ReplyNewTweet" name="ReplyNewTweet" style="display: none;" rows="2"></textarea>
    <h3>You need to be authorized with Twitter to favorite a tweet. Please login with or authenticate your account with Twitter. </h3>
    <br />
    @Html.ActionImage("ConnectRequest", "twitter", new { area = "Authentication" }, "/Public/images/icons/sign-in-with-twitter-d.png", "Sign in with twitter")
</div>