<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="BCrypt" version="1.0.0.0" />
  <package id="CodeContracts.Unofficial" version="1.0.0.2" />
  <package id="DataAnnotationsExtensions" version="1.0.0.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.0.0.0" />
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="Facebook" version="5.0.50.0" />
  <package id="FacebookWeb" version="5.0.50.0" />
  <package id="FacebookWebMvc" version="5.0.50.0" />
  <package id="Newtonsoft.Json" version="4.0.4" />
  <package id="RichmondDay.Helpers" version="1.4.1" />
  <package id="RichmondDay.Helpers.dll" version="1.0" />
  <package id="ServiceStack.Common" version="3.4.1" />
  <package id="ServiceStack.Redis" version="3.3.6" />
  <package id="ServiceStack.Text" version="3.4.1" />
  <package id="smokesignals" version="1.4" />
  <package id="SubSonic" version="3.0.0.4" />
  <package id="System.Data.SQLite" version="1.0.66.1" />
  <package id="twitterizer" version="2.3.2" />
  <package id="WebActivator" version="1.2.0.0" />
  <package id="WindowsAzure.StorageClient.Library" version="1.4" />
</packages>