<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SubSonic" version="3.0.0.4" />
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="RichmondDay.Helpers.dll" version="1.0" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="elmah" version="1.2.0.1" />
  <package id="smokesignals" version="1.4" />
  <package id="BCrypt" version="1.0.0.0" />
  <package id="RichmondDay.Helpers" version="1.4.1" />
  <package id="twitterizer" version="2.3.2" />
</packages>