<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.41.4378.21434" />
  <package id="AutoMapper" version="2.1.265" />
  <package id="BCrypt" version="1.0.0.0" />
  <package id="CodeContracts.Unofficial" version="1.0.0.2" />
  <package id="combres" version="2.2.2.5" />
  <package id="combres.mvc" version="2.2.2.5" />
  <package id="DataAnnotationsExtensions" version="1.0.2.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.0.2.0" />
  <package id="dotless" version="1.2.0.0" />
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2.1" />
  <package id="Facebook" version="5.0.50.0" />
  <package id="FacebookWeb" version="5.0.50.0" />
  <package id="FacebookWebMvc" version="5.0.50.0" />
  <package id="fasterflect" version="2.0.1" />
  <package id="ImageResizer" version="3.1.5" />
  <package id="ImageResizer.Mvc" version="3.1.5" />
  <package id="log4net" version="1.2.11" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.5.1" />
  <package id="RichmondDay.Helpers" version="1.4.1" />
  <package id="RichmondDay.Helpers.dll" version="1.0" />
  <package id="ServiceStack.Common" version="3.6.3" />
  <package id="ServiceStack.Redis" version="3.5.8" />
  <package id="ServiceStack.Text" version="3.6.3" />
  <package id="smokesignals" version="1.5" />
  <package id="SubSonic" version="3.0.0.4" />
  <package id="System.Data.SQLite" version="1.0.79.0" />
  <package id="T4MVC" version="2.8.1" />
  <package id="twitterizer" version="2.4.0.26532" />
  <package id="WebActivator" version="1.5" />
  <package id="WindowsAzure.StorageClient.Library" version="1.4" />
  <package id="YUICompressor.NET" version="1.6.0.2" />
</packages>