<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
  </configSections>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ELMAH.SQL" />
    <!--
        Use to prevent errors from being mailed or logged based on
        assertions. An assertion evaluates the current context, resulting
        in a Boolean outcome. An error is filtered if the assertion results
        in true. For a more detailed explanation, see:
        
        http://code.google.com/p/elmah/wiki/ErrorFiltering
        
        The example below will filter errors when any of the
        following conditions occur:
        
        - The status code is set to 404 
        - The root/base cause is System.IO.FileNotFoundException
        - The root/base cause is System.Web.HttpRequestValidationException
        - The user agent making the request identifies itself as "crawler"
        - The request is from the local machine
        
        The assertion below is expressed as a JScript expression and is the
        most generic and simplest of the assertions to use if you are
        familiar with the JavaScript language. It can work in Medium and
        Full trust environments.
    -->
    <errorFilter>
      <test>
        <or>
          <equal binding="HttpStatusCode" value="404" type="Int32" />
          <jscript>
            <expression>
              <![CDATA[
                // @assembly mscorlib
                // @assembly System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
                // @import System.IO
                // @import System.Web

                HttpStatusCode == 404
                || BaseException instanceof FileNotFoundException 
                || BaseException instanceof HttpRequestValidationException
                || BaseException instanceof HttpException
                || BaseException instanceof System.Security.Cryptography.CryptographicException
                /* Using RegExp below (see http://msdn.microsoft.com/en-us/library/h6e2eb7w.aspx) */
                || Context.Request.UserAgent.match(/(bot|spider|crawler)/i)
                || Context.Request.UserAgent.match(/Wget/i)
                || Context.Request.UserAgent.match(/facebookexternalhit/i)
                || Context.Request.UserAgent.match(/crawler/i)
                || Context.Request.UserAgent.match(/Googlebot/i)
                || Context.Request.UserAgent.match(/Baiduspider/i)
                || Context.Request.UserAgent.match(/YandexBot/i)
                || Context.Request.UserAgent.match(/msnbot/i)
                || Context.Request.UserAgent.match(/MJ12bot/i)
                || Context.Request.UserAgent.match(/Sosospider/i)
                || Context.Request.UserAgent.match(/ZoomSpider/i)
                || Context.Request.UserAgent.match(/Purebot/i)
                || Context.Request.UserAgent.match(/bingbot/i)
                || Context.Request.UserAgent.match(/Sosospider/i)
                || Context.Request.UserAgent.match(/Slurp/i)
                || Context.Request.UserAgent.match(/xenu/i)
                || Context.Request.UserAgent.match(/panscient.com/i)
                || Context.Request.UserAgent.match(/Linguee Bot/i)      
                || Context.Request.UserAgent.match(/ScoutJet/i)      
                // || Context.Request.UserAgent.match(/80legs/i)
                || Context.Request.ServerVariables['REMOTE_ADDR'] == '127.0.0.1' // IPv4 only
                ]]>
            </expression>
          </jscript>
        </or>
      </test>
    </errorFilter>
  </elmah>
  <connectionStrings>
    <add name="ChrisDev1ConnectionString" connectionString="Data Source=Epilogger.com;Initial Catalog=EpiloggerV1;Persist Security Info=True;User ID=sa;Password=xea,87,21r" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="ELMAH.SQL" connectionString="Data Source=Epilogger.com;Initial Catalog=Errors;Persist Security Info=True;User ID=sa;Password=xea,87,21r" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CachingEnabled" value="false" />
    <add key="TwitterConsumerKey" value="NShNxYC7obP0pFIWJpdyOg" />
    <add key="TwitterConsumerSecret" value="Nhkb2Swf26oQYKbNQFcBsZayiagmxsgDJF02tdQfo" />
    <add key="TwitterCallbackURL" value="http://localhost:16007/Authentication/Twitter/ConnectAccount" />
    <add key="FacebookLogoffURL" value="http://localhost:16007/" />
    <add key="FacebookCallbackURL" value="http://localhost:16007/Authentication/Facebook/ConnectAccount" />
    <add key="SiteSettings.Mail.Server" value="mx016.maximumasp.com" />
    <add key="SiteSettings.Mail.ServerPort" value="587" />
    <add key="SiteSettings.Mail.Username" value="chris@richmondday.com" />
    <add key="SiteSettings.Mail.Password" value="srscida" />
    <add key="SiteSettings.Mail.DefaultFromAddress" value="no-reply@epilogger.com" />
  </appSettings>
  <system.web>
    <trace enabled="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Epilogger.Web.Models" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </httpHandlers>
    <globalization culture="en" uiCulture="en" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <add name="facebookredirect.axd" verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.66.0" newVersion="1.0.66.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <facebookSettings appId="126886674071226" appSecret="38ce2af8e61666b533b0416ef0de2904" />
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>