<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="CachingEnabled" value="false" />
    <add key="TwitterConsumerKey" value="NShNxYC7obP0pFIWJpdyOg" />
    <add key="TwitterConsumerSecret" value="Nhkb2Swf26oQYKbNQFcBsZayiagmxsgDJF02tdQfo" />
    
    <add key="TwitterCallbackURL" value="http://epilogger.apphb.com/Authentication/Twitter/ConnectAccount" />
    <add key="FacebookLogoffURL" value="http://epilogger.apphb.com/" />
    <add key="FacebookCallbackURL" value="http://epilogger.apphb.com/Authentication/Facebook/ConnectAccount" />

    <add key="SiteSettings.Mail.Server" value="mx016.maximumasp.com" />
    <add key="SiteSettings.Mail.ServerPort" value="587" />
    <add key="SiteSettings.Mail.Username" value="chris@richmondday.com" />
    <add key="SiteSettings.Mail.Password" value="srscida" />
    <add key="SiteSettings.Mail.DefaultFromAddress" value="no-repy@epilogger.com" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
    -->  
    
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    
  </system.web>
  <facebookSettings appId="207965922600884" appSecret="b67cd48b3d3e06b5a22dcc5ad1665913" xdt:Transform="Replace" />"
 </configuration>