* {
	margin:0;
	padding:0;
	border:0}
	
body {
	font:0.813em helvetica, arial, sans-serif}

a {
	text-decoration:none}

a:hover {
	opacity:0.5;}

div#wrapper {
	/*overflow:auto; */
	position:relative;}
	
	
/* Variable sized font for when the widget is tiny */

/* Narrower than 299px */
@media only screen and (min-width: 0px) and (max-width: 249px) 
{
    header { height: 63px !important; }
    
    h1#title { font-size: 1em; width: 249px; }
    h1#title a { width: 195px !important; }
    
    span#subtitle { font-size: 0.9em}
    
    p.section-title { font-size: 0.8em !important; }
    nav li a { font-size: 0.6em !important; }
    
    .twit-avatar { height: 30px !important; width: 30px !important; }
    .feed-photos-container a {width: 55px !important; height: 70px !important; }
    
    .feed-photos-container { height: 57px !important; }
    
    hr { margin: 0 !important; }
    
    .hbackground img { width: 38px; height: 38px; }
    
    article.tweet div { width: 76% !important; }
    
    .tweet { font-size: 0.8em !important; }
    
}


/* Narrower than 300px */
@media only screen and (min-width: 250px) and (max-width: 299px) 
{
    header { height: 63px !important; }
    
    h1#title { font-size: 1em; width: 250px; }
    h1#title a { width: 195px !important; }
    
    
    nav li a { font-size: 0.8em !important; }
    
    .twit-avatar { height: 38px !important; width: 38px !important; }
    .feed-photos-container a {width: 70px !important; height: 70px !important; }
    
    .feed-photos-container { height: 72px !important; }
    
    hr { margin: 0 !important; }
    
    .hbackground img { width: 38px; height: 38px; }
}

/* Over 300px */
@media only screen and (min-width: 300px) and (max-width: 969px) 
{
    
}


	
	

/* ---------------------------------------- [ HEADER, TITLE, NAV ] ---- */
h1#title { font-size: 1.25em; }
span#subtitle { font-size: 0.929em }
p.section-title span { font-size:0.846em }


header {
	padding:7px 10px;
    margin: 0 0 10px 0;
    height: 72px;
	}

header img {
	float:left;
	margin:0 8px 4px 0}
	

h1#title a { display: block;
width: 229px;
overflow: hidden;
height: 22px;
}

hr {
	clear:left;
	height:0px;
	border-top:1px solid black;
	border-bottom:1px solid white;
	opacity:0.25;
	margin:5px 0}

nav li {
	list-style:none;
	display:inline;}

nav li a {
	opacity:0.7;
	padding:0 6px}

nav li.current a {
	font-weight:bold;
	opacity:1 !important}


/* ---------------------------------------- [ CONTENT SECTIONS ] ------ */
section#feed-photos, section#feed-tweets, section#single-photo, section#all-tweets {
	    padding:0 10px;
        margin: 0 0 15px 0;
	    /*margin-top: 89px;*/
	}

p.section-title {
	margin:0 0 5px 0}



section#single-photo, section#all-tweets, section#all-photos, section#all-checkins {
    height:70%;
    overflow:auto;
    overflow-x:hidden}

section#all-photos.horizontal, section#all-tweets.horizontal, section#all-checkins.horizontal, 
section#feed-tweets.horizontal, section#single-photo.horizontal { height: 53%; }
    

/* --- feed view */
section#feed-tweets {
    height:40%;
    overflow:auto}	

article.tweet img {
	float:left;
	margin:0 8px 15px 0;
	clear:left;}

article.tweet div {
	width:78%;
	float:left;
	margin:0 0 15px 0}

article.tweet ul.tweet-nav li {
	list-style:none;
	display:inline;
	font-size:0.846em;
	opacity:0.65} 
    
section#feed-tweets.horizontal {
    overflow:auto;
    float:left;
    width:57%}

section#feed-photos.horizontal {
    float:right;
    width: 35%;
}

.feed-photos-container a {
    margin: 0 5px 6px 0px;
    float: left;
    position: relative;
    list-style: none;
    width: 85px;
    height: 85px;
    overflow: hidden;
}

.feed-photos-container.horizontal a {
    margin: 0 2px 2px 0px;
}
    
    



.feed-photos-container img {
    left: -44px;
    position: relative;
}

/*
.feed-photos-container.horizontal {
    height:170px;
}*/
.feed-photos-container {
    height:80px; 
}

.twit-avatar { height: 48px;width: 48px; }



/* --- all photos view */
section#all-photos ul.imageListLarge li {
    margin: 0px 0px 6px 5px;
    float: left;
    position: relative;
    list-style: none;
    width: 88px;
    height: 88px;
    overflow: hidden;}

section#all-photos .imageListLarge li img {
     left: -44px; 
     position: relative;}
     
 
/* --- single photo view */
section#single-photo article.tweet.horizontal {
    float:left;
    width:50%;
    background: blue; }
 
section#single-photo article.tweet div {
    width:auto}

section#single-photo img#horizontal-full-photo {
    float:left;
    padding:0 8px 0 0;
    width:48%; } 
    
 
/* --- all check-ins view */
section#all-checkins {
    padding:0 5px 0 0}
    
section#all-checkins .checkinList li {
    margin: 0px 0px 6px 5px;
    float: left;
    position: relative;
    list-style: none;
    overflow: hidden;}


/* ---------------------------------------- [ FOOTER: CREDIT, TOTALS ]  */
footer {
    clear:left;
	border-top:1px solid #ccc;
	padding:5px 0 0 0;
	width:93.5%;
	position: fixed;
	bottom:0;
	left:10px;}

span#epiloggerCounts {
	padding:3px 0;
	float:right;}

span#epiloggerCounts span {
	/*position:relative;
	top:4px;*/
	display:inline-block;
	width:16px;
	overflow:hidden;
	padding:0 2px 0 4px}

span#epiloggerCounts span img#camera {
	position:relative;
	left:-42px}

span#epiloggerCounts span img#bird {
	position:relative;
	left:-5px}

span#epiloggerCounts img {
	margin:0 0 0 8px}


/* ---------------------------------------- [ MISCELLANEOUS ] --------- */
.m-spacer { display:block; height:10px}
.b-spacer { display:block; height:20px}
.more { font-size:0.8em; clear:left}
.clear { clear:both}


/* ---------------------------------------- [ USER DEFINED COLORS - Set to Defaults ] --- */
.hbackground { background-color: #636161; }
.htext, .htext a { color:#fff}
/*. a { color:#333} same as htext */

.bbackground { background:#fff;}
.blink a, ul.tweet-nav { color:#0099cc}
.btext { color:#6e6e6e}

/*
#widgetMenu 
{
    margin-top: 4px;
}
#widgetMenu li {
  margin: 0px 5px 0px 3px;
  padding: 0px 0px 6px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#widgetMenu a {
  font-weight: bold;
  font-family: helvetica;
  font-style: normal;
  font-size: 12px;
  color: #01A5ED;
  text-decoration: none;
  display: block;
  padding: 3px 7px;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#widgetMenu .current a, #widgetMenu li:hover > a {
  background: #01A5ED;
  color: #FFFFFF;
}

#widgetMenu:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#widgetMenu {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}
*/
    

/* Makes the nice scroll bars */
::-webkit-scrollbar{height:16px;overflow:visible;width:12px}
::-webkit-scrollbar-button{height:0;width:0}
::-webkit-scrollbar-track{background-clip:padding-box;border:solid transparent;border-width:0 0 0 7px}
::-webkit-scrollbar-track:horizontal{border-width:7px 0 0}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.05);box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)}
::-webkit-scrollbar-track:active{background-color:rgba(0,0,0,.05);box-shadow:inset 1px -1px 0 rgba(0,0,0,.14),inset -1px 1px 0 rgba(0,0,0,.07)}
::-webkit-scrollbar-track:horizontal:hover{box-shadow:inset -1px 1px 0 rgba(0,0,0,.14),inset 1px -1px 0 rgba(0,0,0,.07)}
::-webkit-scrollbar-track:vertical:hover{box-shadow:inset 1px 1px 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07)}
::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2);background-clip:padding-box;border:solid transparent;border-width:0 0 0 7px;min-height:28px;padding:100px 0 0;box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07)}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);box-shadow:inset 1px 1px 1px rgba(0,0,0,.25)}
::-webkit-scrollbar-thumb:horizontal{border-width:7px 0 0;padding:0 0 0 100px;box-shadow:inset -1px 1px 0 rgba(0,0,0,.1),inset 1px -1px 0 rgba(0,0,0,.07)}
::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,0.5);box-shadow:inset 1px 1px 3px rgba(0,0,0,0.35)}
::-webkit-scrollbar-corner{background:transparent}
body::-webkit-scrollbar-track-piece{background-clip:padding-box;background-color:#f5f5f5;border:solid #fff;border-width:0 0 0 3px;box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07)}
body::-webkit-scrollbar-track-piece:horizontal{border-width:3px 0 0;box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07)}
body::-webkit-scrollbar-thumb{background-clip:padding-box;border-width:1px 1px 1px 5px}
body::-webkit-scrollbar-thumb:horizontal{border-width:5px 1px 1px}
body::-webkit-scrollbar-corner{background-clip:padding-box;background-color:#f5f5f5;border:solid #fff;border-width:3px 0 0 3px;box-shadow:inset 1px 1px 0 rgba(0,0,0,.14)}