﻿@using Epilogger.Web;
@using Epilogger.Web.Models;
@model List<DashboardEventViewModel>
@foreach (var item in Model) {
    <div class="browse-event-table clearfix">
        <div class="table-date">@Html.Encode(item.StartDateTime.ToString("dd/M"))</div>
        <div class="table-name">@Html.ActionLink(item.Name, "details", "events", new { @id = item.EventSlug }, null)</div>
        <div class="table-tweets">@string.Format("{0:#,###}", item.TotalTweets)</div>
        <div class="table-media">@string.Format("{0:#,###}", item.TotalMedia)</div>
    </div>
}