@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<img src="@Url.Content("~/Public/images/homepage/rockout.png")" style="position:absolute;top:118px;left:18px;z-index:20000" />
<div id="homepage-container">
    @RenderBody()
</div>