@model IEnumerable<Epilogger.Data.Tweet>

@if (Model != null)
{
    bool ShowFirst = true;
    foreach (Epilogger.Data.Tweet t in Model)
    {
        if (ShowFirst)
        {
            <div class="pp_FirstComment tweet-content">
                <a href="http://www.twitter.com/@t.FromUserScreenName" target="_blank" class="tweet-content-username-small">@@@t.FromUserScreenName</a>:
                <div style="">
                     <span class="sm-spacer"></span>
                     <h2>@Html.Raw(t.TextAsHTML)</h2>
                </div>
            </div>
            <span class="sm-spacer"></span>
            <div class="seperator"></div>
            <span class="sm-spacer"></span>
            ShowFirst = false;
        }
        else
        {
            <div class="tweet-content">
                <a href="http://www.twitter.com/@t.FromUserScreenName" target="_blank" class="tweet-content-username-small">@@@t.FromUserScreenName</a>:
                <div>
                    @Html.Raw(t.TextAsHTML)
                </div>
            </div>
            <span class="sm-spacer"></span>
        }
    }       
}