@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
    <div id="content-container">
        <br style="clear:both;" />
        @RenderBody()
        <div class="clear"></div>
		<div class="spacer"></div>
    </div>