@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
    <div id="content-container">
        @*@Html.Action("RenderBreadCrumb", "Navigation", new { Area = "" })
        <br style="clear:both;" />*@
        @RenderBody()
        <div class="clear"></div>
		<div class="spacer"></div>
    </div>