@model Epilogger.Web.Models.GlobalNavigationModel
<ul class="tabs">
    @if (Model.UserLoggedIn) {
        <li>@Html.ActionLink("Account", "account", "dashboard")</li>
        <li>@Html.ActionLink("Logout", "logout", "account")</li>
        <li><a href="#" onclick="window.open('http://tracker.epilogger.com/projects/epiloggerfeedback/issues/new','','width=920,height=550');return false;">FEEDBACK</a></li>
    }
    else
    {
        <li>@Html.ActionLink("LOGIN & REGISTER", "Login", "Account")</li>
        <li><a href="#" onclick="window.open('http://tracker.epilogger.com/projects/epiloggerfeedback/issues/new','','width=920,height=550');return false;">FEEDBACK</a></li>
    }
        
</ul>    

