@model Epilogger.Web.Models.GlobalNavigationModel


@if (Model.UserLoggedIn && Model.CurrentUserRole == UserRoleType.Administrator)
{
    <div id="god-menu" class="clearfix">
        <div class="container_12 clearfix">
            GOD MENU:&nbsp;&nbsp;&nbsp; <a href="#demo" class="displayClicks">Click Map</a>&nbsp;&nbsp;&nbsp; @Html.ActionLink("Add Status MSGs", "StatusMessages", "Home")
        </div>
    </div>
    
    /*Hack to keep the page alignment ok*/
    <style>
        #global-bar{ top: 19px !important; }
        #homepage-container { padding: 75px 0px 0px 0px !important; }
        #content-container {
            padding: 75px 0px 0px 0px !important;
        }
    </style>
}