@model Epilogger.Web.Models.GlobalNavigationModel
          

<div id="user-status">
           
    @if (Model.UserLoggedIn) {
        @:<span class="person">Bonjour <strong>@Model.Username</strong></span> (@Html.ActionLink("logout", "logout", "account"))
    }
    else
    {
        
        @Html.ActionLink("Login & Register", "login", "account", null, new { @class = "person" })
    }           
           
           
</div>


