@model Epilogger.Web.Models.GlobalNavigationModel

<div id="globalBarAll">
@if (Model.UserLoggedIn && Model.CurrentUserRole == UserRoleType.Administrator)
{
    <div id="god-menu" class="clearfix">
        <div class="container_12 clearfix">
            GOD MENU:&nbsp;&nbsp;&nbsp; <a href="#demo" class="displayClicks">Click Map</a>&nbsp;&nbsp;&nbsp; @Html.ActionLink("Add Status MSGs", "StatusMessages", "Home")
        </div>
    </div>
    
    /*Hack to keep the page alignment ok*/
    <style>
        #global-bar{ top: 19px !important; }
        /*#homepage-container { padding: 75px 0px 0px 0px !important; }*/
        #content-container { padding: 110px 0px 0px 0px !important; }
        #homepageMainSpread { margin-top: 90px !important; }
    </style>
}


@*This is the nag to verify your email*@
@if (Model.UserLoggedIn && !Model.IsEmailVerified)
{
    <div id="verify-nag" class="clearfix">
        <div class="container_12 clearfix">
            Please verify your email address. If you did not receive the email you can change your @Html.ActionLink("email address", "Index", "Account") or we can @Html.ActionLink("resend the email", "ResendVerificationEmail", "Join") (Check your spam folder.)
        </div>
    </div>
    
    <style>
        #global-bar{ top: 25px !important; }
        /*#homepage-container { padding: 86px 0px 0px 0px !important; }*/
        #content-container { padding: 124px 0px 0px 0px !important; }
    </style>
}
</div>